[2013-07-11 16:12] philicious opened #1 "Default config path wrong for RedHat"
the init script for Redhat says

[code]

while you specify /etc/redis/redis.conf here https://github.com/arioch/puppet-redis/blob/master/manifests/params.pp#L73

[2013-07-11 16:25] philicious opened #2 "Redis config 2.6 not compatible with EPELs 2.4 on Centos6"
For Centos6 / EPEL ships redis 2.4, not 2.6. Configs are not backwards compatible.
You need to checkout Release 0.0.2 of this module in order to get it working on Centos6 with redis 2.4

[2013-07-17 08:31] #1 closed, assigned to nobody

[2013-07-19 15:46] #2 closed, assigned to nobody

[2013-10-07 11:45] sebastiaanluca opened #4 "Install a specific version"
I can't seem to find this anywhere, but how should I handle things if I want to install a specific version of Redis that's crucial to my server setup?

[2014-01-28 10:15] #4 closed, assigned to nobody

[2014-02-24 21:06] seocam opened #6 "Default bind on public interface"
Most software now a days default to bind to local ip (127.0.0.1). Don't you think this is a good/safe road to take here as well?

Cheers

[2014-02-25 09:25] #6 closed, assigned to nobody

[2014-04-28 16:32] jrnt30 opened #11 "Amazon AMI Installation/Initialization Issue"
Currently the installation of the server does not work properly on the AWS Linux AMI due to the preinstall.pp's usage of $::operatingsystemrelease.

Using the 2013.09 AMI, running

[code]

returns

[code]

This results in the URL and GPG keys defaulting to the "Fail" option.  After this, the "yum  install" resorts back to the default EPEL repo, which has the 2.4.10 version of redis-server installe

[2014-08-28 22:29] #11 closed, assigned to nobody

[2014-12-08 14:19] cdent opened #13 "Feature Request: support for redis-sentinel"
We're in the process of adding your puppet-redis module to [openstack-puppet-modules](https://github.com/redhat-openstack/openstack-puppet-modules) and have decided it would be handy to have sentinel support in this module.

I'm happy to do this work myself and submit a pull-request but I wanted to check first on the following:
- Would you accept it?
- Have you got something in progress already?

[2014-12-17 19:39] #13 closed, assigned to nobody

[2015-01-14 15:02] antonlindstrom opened #18 "Sentinel init/upstart file doesn't exist"
When trying to install sentinel (`class { 'redis::sentinel': }`) on Ubuntu 14.04, the following error appears:

    Error: /Stage[main]/Redis::Sentinel/Service[redis-sentinel]: Could not find init script or upstart conf file for 'redis-sentinel'

I would expect that there would be an init or upstart script in place that would start the sentinel service.

Building a template for the sentinel servic

[2015-01-14 22:18] arioch commented on #18
@cdent, could you please look into this?

[2015-01-14 22:24] cdent commented on #18
Yeah, can do tomorrow. Up til now all my testing has been rpm-based distros. I'll take a look at Ubuntu tomorrow.

BTW: There should be yet another pull request on the sentinel support coming from one of my colleagues tomorrow: The way the sentinel.pp requires the redis package is flaky and not properly puppet idiomatic.

Clearly I have no idea what I'm doing ... :)

[2015-01-15 06:43] antonlindstrom commented on #18
That sounds great, thanks!

[2015-01-15 12:40] cdent commented on #18
In the long term I reckon this is a bug in debian, so I've [reported one there](http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=775414).

In the short term I guess we need to stub in an init script of our own. What's the best way to do that?

[2015-01-15 12:46] arioch commented on #18
@cdent, this should get you going pretty fast: https://github.com/jordansissel/pleaserun

[2015-01-15 13:09] cdent commented on #18
Thanks. I'm going to pause on implementing this until #19 has resolved (more comments over there in a moment) as the place to hook in the changes will be more clear then.

[2015-01-18 10:28] confiq opened #24 "Does not work with Debian 7.8 with redis version 2.4.14-1"
At least does not work out of box...
It says:

or

v.2.4.14-1 is latest package for debian.
You might drop 2.4.X support ?

[2015-01-19 07:43] antonlindstrom commented on #18
Awesome, thanks!

[2015-06-02 12:59] raiblue opened #36 "Duplicate decleration Package[redis] when both include redis and redis::sentinel"
Hello,
I came across a problem when i used this module for managing both redis and sentinel on same node. On RHEL, both needs redis package, so `$::redis::package_name` in install.pp and `$package_name` in sentinel.pp is same. This results in duplicate decleration:

install.pp:
[code]
sentinel.pp:
[code]
I worked around by adding `unless defined` to them like,
install.pp:
[code]

sentinel.pp:
[cod

[2015-06-02 13:26] arioch commented on #36
Hi,

Thanks for reporting and investigating too.
Could you wrap this in a pull request? This way you get to have the proper credits for your fix.

[2015-06-02 16:02] raiblue commented on #36
Hi again,
Sorry for the mess in pull requests, I don't know much about Github. I closed the first pr i did and opened a new one with just one commit.

[2015-06-02 16:59] raiblue opened #39 "Default config_owner of redis"
Hi again,
Maybe it would be better if default config_owner of Redis is 'redis'. redis.conf must be writable by Redis or Sentinel when a failover happens (I'm not sure exactly which one, redis or sentinel, handles this action) and config-rewrite works. In the module config_owner is 'root' for all OS types by now, which causes "CONFIG REWRITE failed: Permission denied" error in failover time. Also i

[2015-06-02 17:07] arioch commented on #36
No worries.
To me the easiest way of doing this is:
[code]
This will automagically update the PR as well.
If you have new features you want to add to a PR you can just push those changes too.

[2015-06-02 17:09] arioch commented on #36
I'll go ahead and close this one as it's already merged (963fc0cc3769c5ccbb7e1043699be1425f5e5b2f) via your other PR.

[2015-06-02 17:09] #36 closed

[2015-06-02 17:14] arioch commented on #39
You're absolutely right.
Could you confirm 09f52cfda45ecd04f42b05f1b37b1e3a36154cd5 fixes this issue?

[2015-06-02 17:16] #18 closed

[2015-06-02 17:19] arioch commented on #24
2.4.x has been unsupported for a while now.
2.6.x is probably the oldest version supported.

[2015-06-02 17:20] raiblue commented on #39
Yes.
Thanks.

[2015-06-02 17:20] #39 closed

[2015-06-02 17:22] #24 closed

[2015-06-24 10:26] gfidente opened #41 "Commit edd7cb55931fe0336bfee475c738ac4b91308f98 seems to be pasting undef params into redis.conf"
After commit edd7cb55931fe0336bfee475c738ac4b91308f98 , I seem to be getting undef params into the redis.conf file, like:

[2015-06-24 10:28] gfidente commented on #41
it should be "no" cause it is undef by default

[2015-06-24 10:42] arioch commented on #41
@eoly could you take a quick look at this?

[2015-06-24 19:07] cwolferh commented on #41
I'm also seeing this issue when declaring class {'::redis' ... (no hiera in my case).  It does not happen without https://github.com/arioch/puppet-redis/commit/edd7cb55931fe0336bfee475c738ac4b91308f98 .

[2015-06-24 19:42] eoly commented on #41
@gfidente and @cwolferh,

Could I get the version of Puppet you are using?

My suspicion is that the scope.lookupvar function is evaluating to true even if the variable it is looking up is set to undef.

I'll do some more testing on my end and get back to you guys.

[2015-06-24 19:45] eoly commented on #41
https://docs.puppetlabs.com/guides/templating.html#testing-for-undefined-variables

That link actually explains the problem. I'll submit a fix shortly.

[2015-06-24 21:45] arioch commented on #41
@gfidente and @cwolferh could you please confirm this fixes the problem?

[2015-06-25 02:51] cwolferh commented on #41
@arioch, confirmed, works for me.

[2015-06-25 13:10] arioch commented on #41
Alright, thanks guys.

[2015-06-25 13:10] #41 closed

[2015-07-12 23:37] claflico opened #44 "Error on CentOS 7 when manage_repo: true"
On new minimal install of CentOS 7 I'm getting the following error during puppet runs:

Error: Failed to apply catalog: Parameter baseurl failed on Yumrepo[powerstack]: Validate method failed for class baseurl: bad URI(is not URI?): Fail[Operating at /etc/puppet/environments/development/modules/common/redis/manifests/preinstall.pp:28

puppet-3.8.1-1.el7.noarch

Thanks

[2015-07-13 00:49] eoly commented on #44
The problem is on preinstall.pp:13
https://github.com/arioch/puppet-redis/blob/master/manifests/preinstall.pp#L13

[code]

RHEL 7 is not supported. Instead of failing with a parse error $rpm_url is getting assigned the value "Fail['Operating system or release version not supported.']". You cannot call the fail function in a Selector expression.

As a work around until this gets fixed. Install the

[2015-08-06 19:40] arioch commented on #44
The ```redis::preinstall``` should only be used development setups.
Just ```yum install epel-release``` should get you up and running though if you're not managing your repos using a module.

[2015-08-06 19:40] #44 closed

[2015-08-06 19:52] arioch commented on #44
I've just added 312e002600e8b672543bee60c21e0173a072d3a5 to help you with that.

[2015-08-06 20:35] davpx opened #47 "Unable to bring in as a dependency"
I've tried adding this to my Modulefile, also tried calling it in my Puppetfile but librarian-puppet always returns "Cannot resolve the dependencies". Is there a problem with this module on the forge?

[2015-08-06 20:51] claflico commented on #44
awesome, thanks.

[2015-08-06 21:09] arioch commented on #47
Could have been a temporary glitch as it seems to work just fine on my box...

[code]

[2015-08-06 21:15] arioch commented on #47
I've cut a new release after posting my first reply. Works fine too...

[2015-08-18 00:39] gblair commented on #47
I've run into this issue, as well. It occurs when `puppetlabs-apt` is used alongside `arioch-redis`, because the two specify allowed version sets for `puppetlabs-stdlib` that do not intersect.

`puppetlabs-apt`: `>= 4.5.0 < 5.0.0` (https://github.com/puppetlabs/puppetlabs-apt/blob/f05e43c28588a280a42333f9ca3a506a7121849d/metadata.json#L11)
`arioch-redis`: `>= 1.0.2 <3.0.0` (https://github.com/ario

[2015-08-19 09:18] #47 closed

[2015-08-20 16:49] patrick-minted opened #49 "'manage_repo => true' causes run to fail because add-apt-repository command isn't available"
I worked around this, but it really should be part of the setup.
Ubuntu 12.04

  package{'python-software-properties':
    ensure => installed
  } ->
  package{'software-properties-common':
    ensure => installed
  } ->
  class { 'redis':
    manage_repo => true,
    ...
  }

[2015-08-28 11:17] stavrosicsd opened #52 "Redis service start fail on Debian stable (Wheezy 7.0)"
Debian Wheezy installs redis-server 2.4.14 which service never starts.

If you try to start the service you get the following error:
$ sudo service redis-server start
Starting redis-server:
*** FATAL CONFIG FILE ERROR ***
Reading the configuration file, at line 110

Bad directive or wrong number of arguments
failed

$ dpkg -l |grep redis
ii  redis-server                       2:2.4.14-1

[2015-09-23 18:51] steverecio opened #58 "service_user not working"
This might be a result of my misunderstanding but using the `service_user` keyword, I'm only able to modify the owner of the redis-sentinel process but not the redis-server process. I can see this from the compiled /etc/init.d files. If I try to run redis-server, I get an error because the logfile is owned by the user I specified in `service_user` but the server process is run as the `service_user

[2015-09-24 23:18] x86nick opened #59 "puppet-redis || every time when puppet runs, the service restarts"
Hi Arioch,

As soon as puppet runs it overwrites the redis.conf and trigger the restart.
I am missing something here and  i am not sure how to tell puppet not to overwrite the redis.conf every time ?
#

 # Note that you must specify a directory here, not a file name.
-dir "/var/lib/redis"
+dir /var/lib/redis/

 ################################# REPLICATION #################################

@@ -38

[2015-09-28 09:53] olbat opened #60 "Bind the service on all available interface"
ATM it's not possible to disable the _bind_ parameter of the configuration file, it's also not possible to specify multiple binding address using the recipe. So if you want your server to listen to every available network interfaces, it's not possible ...

[2015-10-01 23:48] kklimonda opened #61 "Does't configure EPEL repository on CentOS 7"
On CentOS, ::operatingsystemrelease is 7.1.1503, and so it doesn't match the predicate defined in preinstall.pp, resulting in EPEL repository not being configured.

[2015-10-11 20:01] cdenneen opened #62 "Cluster Support"
Any plan for cluster support in 3.0.0?
Also in using cluster might be useful to run a master/slave on each node?

Not sure how you'd handle running slave of master(not the master instance on that node) but that could be useful in creating a fully redundant cluster with no data loss.

[2015-10-14 09:37] arioch commented on #62
Currently I have no short-term plans to implement this.
I'd love to but i simply don't have the time to do so.

Feel free to contribute. I'll gladly review and accept patches!

[2015-10-14 09:39] arioch commented on #59
That's pretty annoying.
Did you manually adjust the configuration at runtime?

[2015-10-14 09:42] arioch commented on #52
Redis 2.4 is no longer supported by this module.
Please use the packages from [backports](https://packages.debian.org/wheezy-backports/redis-server) instead.

[2015-10-14 09:42] #52 closed

[2015-10-14 09:43] arioch commented on #49
Feel free to wrap this into a patch and send me a pull request so you get to have the proper credits.

[2015-10-15 16:00] fatmcgav opened #64 "$daemonize is defaulted to 'false' on Redhat OS, which causes service command to hang"
The `$daemonize` param is defaulted to [false](https://github.com/arioch/puppet-redis/blob/master/manifests/params.pp#L110) for RedHat based OS'.
This causes `service redis start` to hang indefinately.

PR incoming to fix default value on RedHat OS'.

[2015-11-06 15:37] elisiano commented on #62
+1

[2015-11-09 15:55] arioch commented on #62
It's coming thanks to @claudio-walser (#67).
Would be awesome if you guys could give some early feedback.

[2015-11-09 16:04] elisiano commented on #62
Looks good! I'm new to redis so I might be overlooking something but the cluster configuration is only one part. The actual operations need to be done either manually or with the redis-trib.rb utility shipped with redis. So maybe a provider would be needed for this.
Nonetheless, it's a great starting point (at least the config can be done directly with the module instead of resorting to the $extra

[2015-11-09 16:07] claudio-walser commented on #62
True, we handled it internally in a service script, taking advantage of the redis-trib.rb
Its kind of separated in our repo so i didnt implemented it in the redis module itself...

[2015-11-26 01:22] v6 opened #68 "// , How do I change from powerstack.org repo if I need to? Should I just edit manifests/preinstall.pp?"
// , I want to do a trial adoption of this EXCELLENT Puppet module on some of our OpenStack machines.

Also, I may, later, want to run this on some legacy systems (I'm looking at you, CEntOS 6...).

InfoSec may raise some an eyebrow at powerstack.org.

If they do, I might want to switch out the the http://download.powerstack.org/6/ for an internal repo.

Should I just edit the https://github.com/a

[2015-11-26 16:49] marcgascon opened #69 "Typo on sentinel.pp on if defined"
No variable substitution on:
https://github.com/arioch/puppet-redis/blob/master/manifests/sentinel.pp#L174
Because the variable was enclosed within single quotes.

I will make a PR to solve this.

[2015-12-01 08:52] arioch commented on #62
@claudio-walser could you maybe add a small redacted example of that redis-trib.rb script of yours to the readme? Or if it's too large add it in a directory "ext" and refer to it in the readme file.

[2015-12-01 09:01] claudio-walser commented on #62
@arioch Sure i'll add that, think i will find some time today and you dont have to wait another 3 weeks :)

[2015-12-02 00:22] v6 commented on #4
// , Excellent support Arioch. I had this same question, and this answers it for me.

Much better to control this the way that you have outlined, rather than a "redis version" value or something.

[2015-12-03 00:19] v6 opened #72 "// , preinstall.pp fails on CEntOS 6.5 and Puppet Enterprise 2.7."
// ,

```err: Could not retrieve catalog from remote server: Error 400 on SERVER: undefined method `<' for :undef:Symbol at /etc/puppet/modules/redis/manifests/preinstall.pp:10 on node redis1```

Perhaps it's missing a fact, or something, but this seems like a bug.

This may be related to CEntOS 6.5 using an older version of Facter, as here:

http://serverfault.com/questions/528878/puppet-facter-h

[2015-12-03 00:46] v6 commented on #72
// , UPDATE: I fixed this by changing line 10 of `/etc/puppet/modules/redis/manifests/preinstall.pp` from `if $::operatingsystemmajrelease < '7' {` to `if $::operatingsystemrelease < '7' {`.

Do you think this is worth a pull request to allow older versions of Facter, like 1.6.13?

[2015-12-03 00:56] v6 commented on #72
// , Also, does this allow us to set an item like `tcp-keepalive 60` in the configuration file?

[2015-12-03 01:27] v6 opened #73 "// , Potential bug: `64min` should read `64mb`"
// , The following section of a correct configuration file requires `64mb` as a default, not `64min`:

    # Automatic rewrite of the append only file.
    # Redis is able to automatically rewrite the log file implicitly calling
    # BGREWRITEAOF when the AOF log size grows by the specified percentage.
    #
    # This is how it works: Redis remembers the size of the AOF file after the
    # late

[2015-12-03 01:27] v6 commented on #73
// , Can I make a pull request for this one?

[2015-12-03 01:34] v6 opened #74 "Shall we bring the template and the configuration options up to date?"
I propose bringing the configuration options up to date with https://github.com/antirez/redis/blob/3.0/redis.conf.

Basically, this is not up to date enough with the latest configuration options to support `aof-load-truncated yes` and `aof-rewrite-incremental-fsync yes`, and some additional cluster settings.

I noticed a lack of anything about `aof-load-truncated` in the repo.

In most cases, I th

[2015-12-03 19:15] v6 commented on #61
// , Can you refer to the specific part of preinstall.pp?

[2015-12-03 23:17] v6 commented on #73
// , Also, is this, in fact, a bug?

[2015-12-04 07:17] v6 opened #76 "Create nodes.conf file?"
// ,

Our deployment team is getting a lot of these:

[code]

We then have to create a nodes-eth3.conf file manually.

Does puppet-redis handle the creation and permission of the file specified by cluster_config, or do we have to create that separately?

[2015-12-08 16:59] tarcinil commented on #74
I can agree that this might be a requirement.  I just implemented a standalone mode and I am getting the following error.  This was a fresh install using r10k.

[code]

I changed the template to use a comment as the

[code]

[2015-12-10 09:20] v6 commented on #74
:+1:

[2015-12-10 09:34] #64 closed

[2015-12-10 09:35] fatmcgav commented on #64
@arioch Cheers :)

[2015-12-10 10:32] arioch commented on #69
Closing as the PR has been merged.

[2015-12-10 10:32] #69 closed

[2015-12-10 10:34] arioch commented on #61
Should be fixed now.

[2015-12-10 10:34] #61 closed

[2015-12-10 10:37] arioch commented on #73
That's a bug and is fixed in 2771a9d81beee9533bf26cf5200b4a7c812370bb.
Thanks for reporting.

[2015-12-10 10:37] #73 closed

[2015-12-10 10:38] arioch commented on #68
Feel free to whip up a pull request. :+1:

[2015-12-10 11:56] arioch commented on #72
That's going to break facter 2 and above.
Unless you find a way to get around that I can't support that.

[2015-12-10 23:58] v6 commented on #72
// , Ah, got it. Let me see if I can find a way to support both.

I checked https://docs.puppetlabs.com/facter/2.0/release_notes.html#breaking-changes, and it doesn't seem to list $::operatingsystemrelease.

[2015-12-10 23:58] v6 commented on #72
// , I can't figure out how this breaks facter 2 and above. I can test this later on a Vagrant box, though.

[2015-12-18 03:25] jarshwah commented on #60
+1 to this. With later versions of redis you can specify multiple bind => "ipddr1 ipddr2".

[2016-01-06 00:19] siliconalchemy commented on #60
You can do this to listen on all interfaces:
 bind => '0.0.0.0'

[2016-01-06 22:39] siliconalchemy opened #78 "Can't run multiple instances"
With redis-cluster it looks like it's a common use pattern to invoke multiple instances of redis on the same server, do this on multiple servers, and let redis-trib distribute the masters and slaves across these instances.
But this puppet module is a singleton class so can't be invoked more than once (unless I've misunderstood, which is entirely possible), perhaps it can be altered to work as a pa

[2016-01-06 23:51] siliconalchemy opened #79 "Add socket option"
Hi, please consider adding an option to configure redis access by unix socket.  Currently the config templates disable the standard /var/run/redis/redis.sock and don't give an option to enable it.  In a common use case of webserver->redis on the same server, socket access is faster.

[2016-01-09 11:30] olbat commented on #60
Okay, but that does not really solve the problem ...
Imagine that I have 4 network interfaces on my machine and I only want the service to be exposed on two of them.

[2016-01-09 18:07] siliconalchemy commented on #60
Well it solves the issue you describe and the title of the issue, but yes it doesn't solve binding multiple selective interfaces, which would be a good enhancement.

[2016-01-13 13:32] tobiasschaber opened #81 "redis.conf under /etc/redis.conf"
Hey,

is there a reason why the redis conf for RedHat systems is placed under:

/etc/redis.conf

instead of

/etc/redis/redis.conf?

For me it seems a little messy lying in this folder.

Thank you and kind regards,

Tobias

[2016-02-18 18:40] marcgascon opened #84 "If you install sentinel you are also running a redis instance"
If you install sentinel you are also running a redis instance and you cannot parametrize it.

I think that you should be able to run only a redis (cluster, standalone, master-slaves) and/or a redis sentinel on the same/different instances. I'm going to do a PR to solve that. The target is that you will be able to choose:
- redis
- sentinel (without running a redis.)
- redis + sentinel

Bests,

[2016-02-18 23:03] aamerik opened #86 "Error 400 on SERVER: Puppet::Parser::AST::Resource failed with error ArgumentError: Invalid resource type redis"
Hello. I'm trying to use create_resources() or ensure_resource() with this module and I'm running into issues with resource type 'redis' not found issues.  I'm able to instantiate the module using "class { 'redis':}" but not with those two functioned mentioned.  Is this a known limitation? Thanks

[2016-02-19 11:23] arioch commented on #86
Could you provide the manifest you're using and a verbose log of what's going wrong?

[2016-02-19 15:17] aamerik commented on #86
Arioch,

My manifest looks like this:
[code]

And the resulting error is:

[code]

The missing type error is confusing because if I change my manifest to:
[code]
the catalog compiles and executes as expected.

Do you know if I need to wrap the redis class in a define to make create_resources work as expected?

Thank you!

[2016-02-19 15:17] aamerik commented on #86
Didnt mean to close this. reopened.

[2016-02-24 16:24] alexharv074 opened #87 "tcp-keepalive not supported in EPEL redis"
EPEL on CentOS 6 provides Redis 2.4.10 whereas it [appears](https://groups.google.com/forum/#!topic/redis-db/ZgRwQvQzY6M) that the tcp-keepalive feature was added in Redis 2.8.

So I get this when I start Redis:

[code]

[2016-02-25 00:20] alexharv074 commented on #87
Feature added in this PR https://github.com/arioch/puppet-redis/pull/53

[2016-02-25 00:45] alexharv074 commented on #87
OK, looks like it would be too hard to support older versions of Redis.  I'll upgrade.

[2016-02-25 00:45] #87 closed

[2016-02-25 15:11] #86 closed

[2016-03-30 15:08] vide commented on #62
@claudio-walser @arioch Did you put that little redis-trb.rb example somewhere? Thanks!

[2016-04-01 10:50] vide opened #91 "Add support to custom repos with RedHat"
Right now if you are using RHEL/CentOS, if you set the `manage_repo` option you are forced to use two hardcoded repos (depending on your major version). There should be a way, like with Ubuntu, to specify a custom repo.

[2016-05-03 22:34] atomicdata opened #94 "bind $ipaddress"
I'm new to Puppet, so I apologize in advance if I am not doing something correctly.  I'm attempting to use the module through Puppet Enterprise.  I'd like to deploy a Redis cluster to several nodes and am attempting to make the bind variable map to $ipaddress in the Node Management console in Enterprise.

When I do this, the module installs as bind 127.0.0.1 in redis.conf.  If I perform an "rpm -e

[2016-05-09 20:50] claflico opened #95 "More cluster documentation"
Would it be possible to get a bit more explanation or examples on how to setup a 3 node redis 3.0 cluster? I'm trying to read through various tutorials online and they all show manual commands that must be ran to get the cluster started.

What's there is kind of confusing:

[code]

I understand that bind is the ip of the node but do we still need to specify "slaveof" so that the two "slave" nodes

[2016-05-12 07:11] vide commented on #78
Yeah @siliconalchemy you got it right, this module only support ONE instance of puppet per server, and it's a pity because redis is heavily used in multi-instances environments. Moreover this module is not that easy to fork and adapt, as it's heavily focused on the singleton approach, and given the fact that the author is not that active on it anymore. I guess that we have to find another module

[2016-05-25 19:32] jeff1evesque opened #96 "Could not find declared class redis"
My [`Vagrantfile`](https://github.com/jeff1evesque/drupal-demonstration/blob/f24ded37c1de7a5433454744246af3c4d564315b/Vagrantfile#L119-L126) calls upon [`configure_cache.pp`](https://github.com/jeff1evesque/drupal-demonstration/blob/22a2975f9721096d61d80499518779a5d874c55a/puppet/environment/development/manifests/configure_cache.pp), which calls a custom module [`redis.pp`](https://github.com/jeff

[2016-05-25 19:37] jeff1evesque commented on #96
I forgot to mention, puppet is provisioning Centos 7.1.

[2016-08-09 14:37] jaredledvina opened #103 "powerstack.org - No longer hosted"
powerstack.org appears to be taken down. Are there other providers for the RPM's for REHL based distros?

[2016-08-19 20:33] kimor79 opened #104 "git submodule issue?"
I'm not really sure how to classify this. I'm using librarian puppet to install the module from forge. Afterwards I see:

[code]

[code]

[code]

[code]

Don't know how those two were deleted. Any ideas?

[2016-08-30 06:25] v6 opened #105 "Add overcommit.pp to deal with `Can't save in background: fork: Cannot allocate memory` ?"
I ran into this, recently:

[code]

Turns out it's a common enough problem that someone put it in the ReDiS FAQ, and in somebody stuck a solution for it in their Puppet module for ReDiS:

ReDiS FAQ on overcommit: http://redis.io/topics/faq#background-saving-is-failing-with-a-fork-error-under-linux-even-if-i39ve-a-lot-of-free-ram

https://github.com/giosakti/puppet-redis/blob/master/manifests/overc

[2016-09-16 19:00] petems opened #110 "Forge Release"
Can we get a forge release? 👍

[2016-09-19 11:17] arioch commented on #96
```redis::install``` a private class, use ```class { 'redis': ... }``` instead.

[2016-09-19 11:17] #96 closed

[2016-09-19 11:20] arioch commented on #110
Here you go: https://forge.puppet.com/arioch/redis/1.2.3 👍

[2016-09-19 11:20] #110 closed

[2016-09-19 12:02] jeff1evesque commented on #96
@arioch, how do I specify which version of redis to install via your suggested directive:

[code]

Additionally, how do I tell redis to automatically start up, when the machine boots, or restarted?

[2016-09-19 12:22] Yuav opened #111 "Parameters not valid for older Redis in config"
Config from version 1.2.3 doesn't start Redis service successfully anymore

[2016-09-19 13:06] jeff1evesque commented on #96
In an attempt to perform your [suggested](https://github.com/arioch/puppet-redis/issues/4#issuecomment-25802297) implementation, as indicated [above](https://github.com/arioch/puppet-redis/issues/96#issuecomment-247974827), I created an additional `temp.pp`:

[code]

Next, I proceeded to [install](https://forge.puppet.com/arioch/redis) your module, and run the above `temp.pp`:

[code]

[2016-09-20 12:33] jeff1evesque commented on #96
I got redis to install via your module:

- https://github.com/jeff1evesque/drupal-demonstration/issues/512
  - https://github.com/jeff1evesque/drupal-demonstration/blob/ca5b8e253e0aa0a1d8d8b3375e37867d9b25be64/puppet/environment/development/modules/package/manifests/redis.pp
  - https://github.com/jeff1evesque/drupal-demonstration/blob/fcf03f550ba9c1748aa41c703e42f8ace31b3e73/puppet/environment/de

[2016-09-22 08:38] rhoml opened #113 "Support for multi-instances per host"
It is a common practice to have more than one instance of redis per host. We should move the config.pp into a define type so we can create multiple instances pointing into different ports.

Thoughts?

[2016-09-22 11:45] spo0nman commented on #113
Yes! I support this. I am actually in the process of hacking this into the module. maybe we can collaborate.

[2016-09-22 11:49] flyinbutrs commented on #111
Second this, had to revert to 1.2.2.

On ubuntu 14.04:
[code]

[2016-09-22 14:28] MWilkinson commented on #111
Same issue here...
It appears that the template file to create the redis.conf has been upgraded to support features only in redis 3.x and doesn't cater for installs like Ubuntu 14.04/redis 2.8.4

[2016-09-22 22:10] rhoml commented on #113
Absolutely, maybe rolling out small changes into a dev branch?

Sent from my iPhone

[2016-10-03 10:20] spo0nman commented on #113
@rhoml do you have a branch already that i can chekout?

[2016-10-03 12:41] arioch commented on #113
I'd prefer having an $instance parameter in the main class which the config class could read, parse and deploy using a resource defined type.

Pseudo code:

[code]

[2016-10-03 14:13] rhoml commented on #113
@spo0nman  No I don't have any working branch atm, been busy.

@arioch yeah, I'd like to see something similar to elastic/puppet-elasticsearch https://github.com/elastic/puppet-elasticsearch/blob/master/manifests/instance.pp

[2016-10-03 14:22] spo0nman commented on #113
@arioch how would we make sure that all the instances are individually configurable? e.g if redis::config is the top layer, and multiple instances on a single host will need instance specific overrides for max_memory etc.

[2016-10-04 09:30] arioch commented on #113
@spo0nman by using ```redis::config``` for its original purpose: to configure generic stuff in ```/etc/redis```.

Instances could have their own directory structure, f.i. ```/opt/redis/instance_1``` managed by ```redis::instance```.

[2016-10-05 12:56] spo0nman commented on #113
@arioch the updated one looks good. let me write something around this idea.

[2016-10-13 07:49] spo0nman commented on #113
Hi,

small update: I have a decent working version now with these changes. I had to make a few changes to accomplish this. I have a rather large patch, I'll commit it to my fork for your review tomorrow.

[2016-10-14 16:12] petems commented on #111
@flyinbutrs Can you give a list of which parameters are specific to v2 vs v3 of redis? Is it just tcp-backlog?

[2016-10-14 18:11] petems commented on #81
the redis.conf file in RedHat is /etc/redis.conf in the provided RPM:

%config(noreplace) %attr(0644, root, root) "/etc/logrotate.d/redis"
%config(noreplace) %attr(0644, redis, root) "/etc/redis-sentinel.conf"
%config(noreplace) %attr(0644, redis, root) "/etc/redis.conf"
If you wish to change it,

Changing the default param would be an breaking change to the module.

If you wish to provide a diffe

[2016-10-14 18:11] #81 closed

[2016-10-14 18:13] petems commented on #72
PE 2.7 has been EOL for a long time, closing.

https://puppet.com/misc/version-history

[2016-10-14 18:13] #72 closed

[2016-10-14 18:17] petems commented on #79
Closed in #97

[2016-10-14 18:17] #79 closed

[2016-10-14 18:27] petems commented on #103
redis is avaliable in EPEL for RHEL/CentOS 7+

For RHEL/Centos 6, looks like we can shift to http://rpms.famillecollet.com/enterprise/6/remi/x86_64/redis-3.2.4-1.el6.remi.x86_64.rpm

[code]

[2016-10-14 18:29] petems opened #118 "Speed up Travis"
Current Travis config takes 20 mins, let's slim down the Matrix! 👍

[2016-10-14 18:31] petems commented on #113
@spo0nman Hey, @arioch has added me to the repo to help with maintenance, I look forward to your PR! 👍

[2016-10-14 19:04] petems commented on #49
The PPA resource installs the required package if you use the `package_manage` parameter:
https://github.com/puppetlabs/puppetlabs-apt/blob/1b6e046bea87b388f957edf946af363279769c21/manifests/ppa.pp#L7

You can fix with the following added to your roles and profiles:

[code]

Adding this to the module would be a breaking change and might conflict with someones existing code, so will leave this as f

[2016-10-14 19:04] #49 closed

[2016-10-14 19:20] petems commented on #103
Actually, even easier, EPEL has redis for RHEL 5,6 and 7 now 👍

[2016-10-14 22:16] #103 closed

[2016-10-14 23:43] petems commented on #118
Done in #126, #125, #124

[2016-10-14 23:43] #118 closed

[2016-10-14 23:45] petems commented on #78
Duplicate of https://github.com/arioch/puppet-redis/issues/113, @spo0nman is working on a multi instance version of the module 👍

[2016-10-14 23:45] #78 closed

[2016-10-14 23:48] petems commented on #91
@vide Generally with modules you give the minimum required to get it working for a basic usecase.

If you want to use your own repos, set `manage_repo` to false and manage the yumrepo which handles Redis in your roles and profiles

More details here: https://docs.puppet.com/pe/2016.2/r_n_p_intro.html

[2016-10-14 23:48] #91 closed

[2016-10-17 16:07] spo0nman commented on #113
Hello!

I have pushed[1] my changes to my fork. It is a large change, I took the idea of @arioch and created a define called redis::instance, which is called multiple times from redis::config.

I added a new variable called instances, this is expected to be a hash of the form:
`$instances = { 'instance_name' = {
                                                            'port' = 'portnumber'

[2016-10-17 16:17] spo0nman commented on #113
@petems I am currently struggling with https://github.com/sparklemotion/nokogiri/issues/1445 and could not run the rake tests on my changes. As soon as I have rake running. I will run the tests.

[2016-10-18 08:28] spo0nman commented on #113
https://github.com/arioch/puppet-redis/pull/128

[2016-10-21 07:50] mbaldessari opened #130 "[Whishlist] Extend ulimit parameter to support limits.conf and systemd"
It'd be grand if the ulimit parameter could be extended to set the nofile limits in:
- /etc/systemd/system/redis.service.d/limit.conf via the LimitNOFILE section
- /etc/security/limits.d/redis.conf

The former is for pure systemd OSes that do not make use of /etc/default/ and the latter is for when redis is invoked via a cluster manager (e.g. pacemaker, rgmanager)

[2016-11-03 18:04] kwisatz commented on #76
I'd be interested to know this too.
What does the **//,** stand for?

[2016-11-04 21:05] petems commented on #113
Hi @spo0nman! I'm looking over your changes, I think some would change the intentions of this module and what falls under it's scope, but others I think could be broken up into individual features that could be merged. I should have some cycles to look through stuff in december, hopefully I can merge it for you then! 👍

[2016-11-07 11:16] spo0nman commented on #113
@petems sounds good. Let's sync up in December and I can separate out the unnecessary.

[2016-11-30 21:20] petems commented on #111
#136 is part of the full solution for this (see my blog post about the final pattern: https://petersouter.co.uk/puppet-pattern-version-specific/

[2016-11-30 21:53] petems commented on #68
Powerstack has been removed, using normal upstream repos.

If you wish to use your own repo, simply set $manage_repo to false, and add your repo of choice in your profiles! 👍

[2016-11-30 21:53] #68 closed

[2016-11-30 21:56] petems commented on #60
Ok, should be easy enough to implement, simply change the $bind variable to an array, loop through the array for multiple bindings 👍

[2016-11-30 21:57] petems commented on #104
Not really a module issue, I'd open a bug against librarian-puppet.

Otherwise, I'd clean out the folder and try a clean commit, should work ok after that 👍

[2016-11-30 21:57] #104 closed

[2016-11-30 23:01] codylane commented on #111
FWIW - I ran into this today as well while testing EPEL provided redis on CentOS 6 where _**tcp-backlog**_ doesnt' work with redis 2.4.10 (which comes from EPEL).  However, newer versions of redis are avaiable via the REMI repo and that is most likely what my team will be using.

[2016-12-02 20:47] amoralej opened #142 "Wrong redis.conf after c45049986a7fcb1c9a0591de123c6bf97c761355"
After commit c45049986a7fcb1c9a0591de123c6bf97c761355 , a bunch of parameters in redis.conf are left without any value, for example:

syslog-facility
masterauth
...

If parameter is not passed:

I'm using following puppet manifest:

class { '::redis':
  bind       => '0.0.0.0',
  port       => 6379,
  appendonly => true,
  daemonize  => false,
  unixsocket => false,
}

With puppet-redis before com

[2016-12-03 01:19] petems commented on #142
Fixed in #https://github.com/arioch/puppet-redis/pull/143

[2016-12-03 01:19] #142 closed

[2016-12-03 02:12] petems commented on #59
Closing as it's been over a year with no response, can re-open if needed

[2016-12-03 02:12] #59 closed

[2016-12-05 07:09] lkthomas opened #146 "Ubuntu 16.04 support?"
Any chance for this module support Ubuntu 16.04?

[2016-12-05 09:52] arioch commented on #146
Have you tried running it on Ubuntu 16.04?
What seems to be going wrong or missing? Any errors messages or logs available?

[2016-12-05 10:08] petems commented on #146
@lkthomas Our Acceptance tests run on Ubuntu 16.04 and it works ok 👍 https://travis-ci.org/arioch/puppet-redis/jobs/180936979

[2016-12-05 13:14] arioch commented on #146
I've updated metadata.json: 4ea53ee263b8f7129c2e6eaf54789cf48a3fd884.

[2016-12-06 17:21] #146 closed

[2016-12-06 18:53] flyinbutrs commented on #111
Ok, I figured it out... This is the commit that changed the parameter from backlog to tcp-backlog:

https://github.com/antirez/redis/commit/917b851491415466368430dd2b450ce431c88081

cloned the repo and described:

[code]

So if redis version is >2.8.4, the parameter it tcp-backlog, if <=2.8.4, use backlog.

[2016-12-06 18:57] petems commented on #111
Yes, I'm working on a fix to detect the version in #145

In the mean time, you can either use the older version or fork and make a change to that template manually

[2017-01-11 16:19] jerith opened #150 "Ownership problem with Ubuntu redis-server"
On Ubuntu 14.04, `redis-server` has an init script that does `chown redis:redis $RUNDIR $PIDFILE` (where `RUNDIR=/var/run/redis` and `PIDFILE=$RUNDIR/redis-server.pid`) at startup. This causes puppet to "fix" the ownership of `/var/run/redis` (to `redis:root` unless `config_owner` and `config_group` have been set differently), which triggers a restart of `redis-server`, which changes the ownership

[2017-01-11 16:23] petems commented on #150
I think we can fix that easier by just changing the `$config_group` default on Ubuntu to Redis.

Can you try changing that in the code in your Ubuntu 14.04 machine and see if it changes anything else? So add a section in the params to change  `config_group` in Ubuntu 👍

[2017-01-11 17:29] jerith commented on #150
My workaround was to set `redis::config_group` to `redis` in hiera, which seems to have sorted out the problem.

[2017-01-11 17:37] jerith commented on #150
On debian jessie (which we also run), a stock install of `redis-server` (from jessie-backports, although I don't think that makes a difference) has both `/var/run/redis` and `/etc/redis/redis.conf` owned by `redis:redis`. `/etc/redis` and everything else inside it is owned by `root:root` with world-readable permissions.

[2017-01-24 00:06] v6 commented on #76
// , @kwisatz, have you tested this on a clean system, yet, that does not contain the nodes.conf file already? It might be interesting to see if someone other than me can reproduce the problem.

[2017-01-24 00:12] v6 commented on #103
// , Do you have any guidelines for how to set this up so that it may also use an internally hosted repository?

E.g. repository.bigcorp.com?

Also, it looks like EPEL only allows ReDiS 2 for CEntOS 6:

<img width="346" alt="image" src="https://cloud.githubusercontent.com/assets/5750764/22228536/b7e9a1c6-e186-11e6-8901-d289dc27b975.png">

[2017-01-26 16:41] johanfleury opened #151 "Use puppetlabs-inifile instead of relying on exec"
Hi.

While reading the module's code, I was wondering why you don't use [puppetlabs-inifile](https://forge.puppet.com/puppetlabs/inifile) instead of relying on [`exec { "cp -p" }`](https://github.com/arioch/puppet-redis/blob/master/manifests/config.pp#L107)?

You could call `ini_settings` (or `create_ini_settings`) with `section => undef` and `key_val_separator => ' '`.

What do you think?

[2017-02-19 01:47] petems opened #152 "Deprecate Puppet 3.X Support"
Puppet 3.X is EOL

So, we want to upgrade this module to have Puppet 4 support.

- [ ]  Create a last release tag in the major version
- [x]  Add notes to the README/add warning to the code for the deprecation
- [ ]  Make a new release, and add types to parameters (Puppet 4 only feature)
- [ ]  Update module to use the new Puppet Lookup/Data in modules work from Puppet 4 onwards

[2017-02-19 01:57] petems commented on #151
So, the original reason that the exec is used is because managing the file as a whole is a lot easier than having multiple resources for each config setting.

The exec that copies the file is because redis manages it's own config, so sometimes changes entries within the config. So having it create and copy it over means that the redis edited entries don't get overwritten immediately.

[2017-02-25 01:52] tobias-urdin opened #154 "add-apt-repository required on Ubuntu Xenial"
When running on Ubuntu Xenial and letting the module manage the repo it's trying to add Chris Lea's redis repo with add-apt-repository but if that command does not exist (it's not installed by default in Ubuntu iirc) it will fail.

``Error: Could not find command '/usr/bin/add-apt-repository'
Error: /Stage[main]/Redis::Preinstall/Apt::Ppa[ppa:chris-lea/redis-server]/Exec[add-apt-repository-ppa:chr

[2017-03-14 17:40] nvtkaszpir commented on #150
The same happens on debian wheezy.

[2017-03-16 10:32] nvtkaszpir commented on #111
any progress on this?

[2017-03-23 04:04] dominics commented on #154
This should be handled by your `apt` module, not this one. For example, see the `apt::ppa::package_manage` option (https://forge.puppet.com/puppetlabs/apt#defined-type-aptppa), which should do exactly what you want if you set it to `true` (it defaults to `false`)

[2017-03-23 04:12] dominics commented on #150
Can confirm (albeit with 16.04) that it changes the group of `/etc/redis`, `/etc/redis/redis.conf` and `/etc/default/redis-server`, not just `/var/run/redis`. Fine for me (I want to `CONFIG REWRITE` anyway) - but, in general, not isolated to `/var/run`.

[2017-03-23 09:17] tobias-urdin commented on #154
Since this module uses the `apt` module to manage the PPA repository for Ubuntu, would it make sense to modify https://github.com/arioch/puppet-redis/blob/master/manifests/preinstall.pp#L30 to take exactly what you mentioned into account?

`apt::ppa { $::redis::ppa_repo:
  package_manage => true
}`

[2017-04-05 01:30] DiegoGallegos4 opened #156 "CentOS 7 failed installing"
Getting this error when running puppet agent:

![image](https://cloud.githubusercontent.com/assets/5933437/24685827/2e070eb6-196d-11e7-80cf-1d5a6e18a3e1.png)

To reproduce:

`class{'redis': }`

all dependencies are installed.

[2017-04-12 22:24] v6 commented on #74
// , Not to be too chatty, but this issue has come up again for us.

Specifically, we need to set a `cluster-slave-validity-factor` of 2 for one of our applications.

http://download.redis.io/redis-stable/redis.conf

[2017-04-12 22:27] v6 commented on #74
// , In the mean time, how do you recommend that we work around this? Should we just clone the module and modify it, or use it as-is a separate module to use the ReDiS API, or just automatically set it with `redis-cli -h $(facter ipaddress) CONFIG SET cluster-slave-validity-factor 2`?

[2017-04-12 22:32] v6 commented on #152
// , How will those of us poor folk still stuck with Puppet 3 continue to use this? Shall we just install the older version that supports Puppet 3?

[2017-04-12 22:33] v6 commented on #152
// , If we do use that older version, can we be assured that it will use versions of its dependencies that also work with Puppet 3?

[2017-04-12 22:42] petems commented on #74
@v6 I would do two things:

1. Fork the module to add the config settings you require
2. Open a pull-request to add those features upstream to this module 👍

[2017-04-12 22:46] petems commented on #156
@DiegoGallegos4 Can you try the following code for me:

[code]

Basically it's saying it can't find the redis package from the upstream repo, so you need to enable epel.

[2017-04-12 22:59] petems commented on #152
There will be a final tag for the Puppet 3 features, so you can fork from that tag and continue to support Puppet 3 from that tag.

The dependancy modules are pinned to versions that support Puppet 3, so the other module dependancies shouldn't be an issue:

[code]

I would recomend upgrading to Puppet 4 however 😄

[2017-04-12 23:16] #150 closed

[2017-04-12 23:27] v6 commented on #152
// , Establishing good habits of "software life cycle management", e.g. not using End of Life infrastructure, with people who don't want it can be a struggle, sometimes.

[2017-04-13 01:32] petems commented on #111
Turns out neither work with the version available in Ubuntu:

[code]

[code]

So I'm just going to put a "Must be newer than 2.8.5" around that logic

[2017-04-13 03:03] petems commented on #111
@nvtkaszpir I've got a working version for CentOS 6, is that the one you've been having issues with? Should have a PR soon

[2017-04-13 04:43] nvtkaszpir commented on #111
I switched to Centos 7.3 and bumped redis to 2.8.21 using openstack-kilo repo.

puppet manifest:
[code]

hiera:
[code]

I was also using Debian.Ubuntu but switched to Centos 7.3.
Also discovered the issue when running redis upgrade, they unfortunately broke configuration compatibility between patch versions.
Knowing that redis 3.x is a superset of redis 2.8 I'm rahter going to move to redis 3.2 in

[2017-04-25 23:19] v6 commented on #74
// , Well, let's get started: https://github.com/arioch/puppet-redis/pull/163

[2017-04-26 14:18] KlavsKlavsen opened #166 "sentinel support broken?"
When doing this:
    class { 'redis::sentinel':
      master_name      => $master_name,
      redis_host       => $redis_master,
      failover_timeout => $failover_timeout,
    }

  class { 'redis':
    bind        => $listen_ip,
    slaveof     => $redis_master ? {
        "$fqdn" => undef,
        default => "$redis_master 6379"
    }
  }

to setup my hosts - with one being set to master-  and

[2017-04-26 14:20] KlavsKlavsen commented on #166
This is puppet 4 master and my servers are ubuntu 16.04

[2017-04-26 15:04] petems commented on #166
@KlavsKlavsen I haven't looked at the sentinal work for a while, could you try the following change:

[code]

[2017-04-26 15:50] petems commented on #166
I'm also adding in an acceptance test for a basic sentinel setup 👍

[2017-04-26 19:39] KlavsKlavsen commented on #166
that gives  Class[Redis] is already declared; Duplicate declaration: Class[Redis] is already declared; cannot redeclare.. if I remove it - and don't insert "require redis" - then it runs.

Next is that redis::sentinel is adding an init script (kinda odd when in systemd land :) - and when systemd starts it - it says all is good.. except /usr/sbin/redis-sentinel binary does not exist.. I'm assuming

[2017-04-26 19:39] KlavsKlavsen commented on #166
Are you running sentinel cluster mode instead?

[2017-04-26 21:33] petems commented on #166
Basically, this is because of different packaging standards:

[code]

So you could use Puppet to create this symlink.

I would say I don't know enough about sentinel to accurately test this. I will open a PR to change the package requirement to be an include of redis.

[2017-05-01 13:32] KlavsKlavsen opened #175 "Ubuntu 16.04 changed sentinel config filename"
so it now is supposed to be called /etc/redis/sentinel.conf

I couldn't find a nice way (without large restructuring) to fix this in params.pp.. I've moved to data-in-modules which makes it a lot easier to handle such exceptions.

[2017-05-01 13:33] KlavsKlavsen commented on #175
and you're managing /etc/init.d/redis-sentinel - but since 16.04 is systemd - it uses the systemd file from the package - which points at /etc/redis/sentinel.conf

So perhaps a better fix - would be to just manage the systemd file? I'll gladly do a PR for that ?

[2017-05-01 13:38] petems commented on #175
A PR to manage the systemd file would be greatly appreciated! 😄

[2017-05-01 13:45] KlavsKlavsen commented on #175
can I use epp templates, or ?

[2017-05-01 14:29] petems commented on #175
ERB for now, I want to get the last few features fixed before we move onto Puppet 4, like parameters only being included on certain versions and multiple instances of redis on one server.

[2017-05-01 14:35] KlavsKlavsen commented on #175
I have it ready now.. will send PR tonight so you can give feedback (have to go from work now :)

[2017-05-01 15:53] petems commented on #175
No problem, looking forward to it! 👍

[2017-05-01 20:00] KlavsKlavsen commented on #175
https://github.com/arioch/puppet-redis/pull/176 - I choose to install systemd override when system is running systemd.. did not make sense to do it any other way IMHO :)

[2017-05-03 15:03] petems commented on #175
Ok, looking at all the debian flavours out there (Deb 8, Ubuntu 14.04 - PPA and external, and 16.04 upstream) it looks like this should always be `/etc/redis/sentinel.conf`.

So I've opened a PR to fix it for all Debian flavour machines: https://github.com/arioch/puppet-redis/pull/184

[2017-05-03 15:15] petems opened #185 "Deployment to Forge"
@arioch So we have a few choices for this:

One, we add something to the .travis.yml like this:

[code]

This will auto deploy everytime a build is succesful and the tag is changed.

In the mean time, I might just ask you do do a 2.0.0 tag release soon because setting up the above will be a PITA in the short term (but much better in the long term! 😄 )

[2017-05-03 16:00] petems commented on #166
I believe this was fixed by #171 and an additional acceptance test was added, if not I'll re-open

[2017-05-03 16:00] #166 closed

[2017-05-03 16:00] petems commented on #156
This is resolved by the above code, as the acceptance test states. Closing.

[2017-05-03 16:00] #156 closed

[2017-05-03 16:03] petems commented on #154
This is something that you should manage within your own roles and profiles, I don't want to add it in by default as it might cause conflicts.

You can also overwrite this config in your own code like so:

[code]

[2017-05-03 16:03] #154 closed

[2017-05-03 18:52] #175 closed

[2017-05-03 22:11] #111 closed

[2017-05-03 22:11] petems commented on #105
Closed via #188

[2017-05-03 22:11] #105 closed

[2017-05-04 12:06] petems commented on #95
A three node cluster can be setup thusly:

[code]

[code]

This is demonstrated in the acceptance test `puppet-redis/spec/acceptance/redis_multi_node_spec.rb`, which is actually run on a 3 node Vagrant box test environment.

The sentinel is required if you want automatic failover with Sentinel also.

Does this answer your question? If so, I'll add it to the docs and PR it. 👍

[2017-05-04 12:08] petems commented on #84
@marcgascon I'm not sure I understand. If you're using redis-sentinel, you require the redis binary to run, as it's just a simlink to the redis binary but running in sentinel mode? So if you're running sentinel, you're running redis.

[2017-05-04 12:11] petems commented on #58
@steverecio The service_user is more to allow the different

Could you give me an example of what you're trying to achieve? What user do you want redis to run as?

[2017-05-04 12:55] petems commented on #130
@mbaldessari Should be fairly trivial to implement! 😄

I noticed you doing this here for the openstack project: https://github.com/openstack/puppet-tripleo/blob/f9efeb158261fbdad206ea072c4c628636c1a5f4/manifests/profile/pacemaker/database/redis.pp#L63

I should be able to implement that in the module natively 💃

Is there anything else you want this module to do would help you with the Openstack st

[2017-05-04 20:37] #130 closed

[2017-05-04 22:28] sshipway opened #195 "Sort problem in v1.2.4 template"
In version 1.2.4, the template has:
[code]
This throws up an error under our version of Ruby (1.8.7):
[code]
The solution is to specify what to sort by, then it will correctly run:
[code]
In the meantime, we have reverted to v1.2.3 which runs as expected and provides the features we currently use.

[2017-05-04 22:30] petems commented on #195
@sshipway Can you open a PR to the repo with that change?

I'm assuming this is on CentOS 6? 1.8.7 is EOL. I'd recomend using the Puppet 4+ agent as it comes with it's own Ruby packaged in, so won't have Ruby version issues.

[2017-05-04 22:36] sshipway commented on #195
Yes, this is Centos 6 with Puppet 3.  We have a project running to upgrade to Centos 7 and bring everything up to Puppet 4, but this will take much time before it is approved and finalised.  In the meantime, we (and many like us) will continue to be using Centos6/Pupet3 etc I suspect.

I don't have a separate repo with a change, sorry; it's only 6 chars and we're using the official 1.2.3 tag.  I'l

[2017-05-05 05:26] mbaldessari commented on #130
Thanks a lot, I'll try this out and remove my hack once this change trickles down ;)

[2017-05-05 07:46] mbaldessari opened #197 "The fix for issue #192 broke service_managed false"
I have the following hiera values:
redis::managed_by_cluster_manager": true
redis::service_manage": false
redis::notify_service": false

But now an 'include ::redis' gives me:
Error: Could not find dependent Service[redis] for Augeas[Systemd redis ulimit] at /etc/puppet/modules/redis/manifests/ulimit.pp:44

Did you mean to make https://github.com/arioch/puppet-redis/blob/master/manifests/ulimit.pp

[2017-05-05 07:58] petems commented on #197
Good point, I should probably only refresh the service if it's being managed by Puppet.

In fact, since this is in the config class, it should automatically notify the service if it's enabled anyway.

I'll open a PR and also add an acceptance test with this setting to make sure this doesn't regress 😄

[2017-05-05 08:21] mbaldessari commented on #197
Perfect, thanks :)

[2017-05-05 10:20] #197 closed

[2017-05-07 04:51] claflico commented on #95
Sorry, not really using this anymore as we've moved on to Docker. I'll go ahead and close it.

Thanks

[2017-05-07 04:51] #95 closed

[2017-05-11 15:22] ghoneycutt opened #201 "Please cut a release"
In accordance with semver, could you please cut a new release when PR's are merged. It has been almost 6 months since the last release and I'm pinning to individual commit SHA's and trying to understand each commit to see if it is breaking things or not. I think this will help people consume and contribute to your module.

[2017-05-11 16:56] petems commented on #195
Closed via #199

[2017-05-11 16:56] #195 closed

[2017-05-11 17:05] petems commented on #201
Will do! 👍

I've cut a 3.0.0 release, asking @arioch for a manual deploy right now as we haven't got the Travis auto-deploy magic working yet 🎆

[2017-05-12 10:44] petems commented on #201
Done 👍

https://forge.puppet.com/v3/files/arioch-redis-3.0.0.tar.gz

[2017-05-12 10:44] #201 closed

[2017-05-18 19:24] EmilienM opened #205 "Releasing v3.0.1"
Could we please have a v3.0.1 release including:
https://github.com/arioch/puppet-redis/commit/464a04b9e6fa23d32c9deaa81776d1b6757c71fe

It would allow us to deploy the latest tag.
Thanks!

[2017-05-18 19:25] EmilienM commented on #205
@arioch ping

[2017-05-19 15:39] #185 closed

[2017-05-19 15:39] #205 closed

[2017-05-19 15:46] EmilienM commented on #205
Thanks

[2017-05-19 15:47] petems commented on #205
When this is green, we should have an autodeployed 3.1.0 tag: https://travis-ci.org/arioch/puppet-redis/builds/234066145

[2017-05-19 19:29] arioch commented on #205
It failed, so I've deployed manually.
https://forge.puppet.com/arioch/redis/3.1.0/readme

To be continued.

[2017-06-20 13:38] vchepkov opened #210 "redis_server_version fact fails to parse output"
It seems some versions of redis-server produce different format of the version, which causes errors during fact collection:
[code]

Here is particular version, which is supplied by Redhat:
[code]

[2017-06-20 15:45] petems commented on #210
Yeah, it bit me in the same way on older CentOS, all fixed in https://github.com/arioch/puppet-redis/pull/159 😄

[2017-07-06 00:44] petems commented on #62
Cluster support was merged in 4fb33b960a09bfb459eff20ee112bfc9e0a1c096 and released in 1.2.0

The implementation of the cluster with `redis-trib.rb` or other tools is another thing, if someone has an example it can be added in a seperate PR 😄

[2017-07-06 00:44] #62 closed

[2017-07-06 00:46] petems commented on #151
Closing as sticking with the template approach

[2017-07-06 00:46] #151 closed

[2017-07-06 07:51] vide commented on #62
I have a very crude `exec{}` hack to setup-up through with no human-intervention a basic cluster with `redis-trib.rb`, but I'm not sure it's ready for prime-time. I can prepare a PR in the next few days if you wish

[2017-07-06 10:51] elisiano commented on #62
@vide: yes please!

[2017-07-06 14:15] petems commented on #62
@vide that would be awesome, if it's a bit too hacky we could put it as a documentation example with the caveats on it 😄

[2017-07-07 12:29] petems commented on #113
This is now merged as part of #200

[code]
Ta-dah! 😄

[2017-07-07 12:29] #113 closed

[2017-07-11 17:40] petems opened #216 "Travis Forge Password Changed"
https://travis-ci.org/arioch/puppet-redis/jobs/252498253

@arioch Can you have a look at this? Says the passwords wrong 😢

[2017-07-13 16:26] tdotgreenshirt opened #223 "Add Support for Multiple Sentinel Instances"
Now that there is support for multiple Redis instances, there should also be the ability to add multiple Sentinel instances.

Requesting a feature request to support multiple Sentinel instances

[2017-07-17 13:22] bostrowski13 opened #225 "Redis 4.x.x Support"
Just saw Redis 4.0.0 was released, and seems to have some major changes.

Just curious as to the timetable to support this, if at all.

[2017-07-17 15:13] petems commented on #225
I'm planning on adding Redis 4 support, probably within the next week or 2 for at least the basic support of the config file running and the version being 4.0.0

Extra features feel free to request and I'll merge PRs 👍

[2017-07-17 19:32] tdotgreenshirt opened #226 "[Feature Request] Redis::Instance - Set default unixsocket"
For the new implementation of separate Redis instances, if a unixsocket is not specified, each redis::instance will use the same .sock file. I'm not sure if this poses as an issue, but would like to submit a feature request to append each Redis instance name as the default value for the unixsocket attribute:
(e.g unixsocket => "/var/run/redis/redis-${instance}.sock",)

[2017-07-17 20:41] petems commented on #226
Yeah, seems reasonable, feel free to open a PR 👍

[2017-07-17 23:23] tdotgreenshirt commented on #226
Disregard. This is happening on the latest version of the module.

[2017-07-17 23:23] #226 closed

[2017-07-19 17:48] jaredledvina commented on #216
@petems / @arioch  - Is this why release 3.2.0 isn't availible on https://forge.puppet.com/arioch/redis ?

[2017-07-19 18:43] v6 commented on #223
// , I suspect that you have an example use case in mind. :)

[2017-07-19 20:27] petems commented on #216
@jaredledvina Indeed, haven't been able to do a release since the password failed

[2017-07-20 00:26] benh57 opened #227 "Undefined variable 'redis_server_version' warning on first run"
When this module first runs to install redis, the fact is undefined:  (because it's not installed yet) - Puppet 4 or later warns about this:
 Warning: Undefined variable 'redis_server_version';   (file & line not available)

After the first run, the warning goes away.  To avoid this the fact should be defined to something, even undef might be fine.

[2017-07-20 04:52] benh57 opened #228 "Unable to unset unixsocket config parameter"
If i spin up a redis like:

[code]

the unixsocket gets set to the default, `/var/run/redis/redis.sock`

Redis 4 doesn't make the `/var/run/redis/` folder by default on Centos 7 so this breaks redis4 out of the box with this module.

Redis has a lot of parameters that do different things if it's not set at all ('bind' is another example, if you want to listen on all interfaces but not pass 0.0.0.0

[2017-07-20 10:18] petems commented on #228
Good point, this was done as part of the instance work recently.

Curious though: who's providing Redis 4 for CentOS? The service file should have `RuntimeDirectory=redis` in it, then the directory is created on boot. But that's a different thing

[2017-07-20 10:21] petems commented on #228
Is this using the Remi repo? https://rpms.remirepo.net/

[2017-07-20 17:48] tdotgreenshirt commented on #223
@v6 https://i.stack.imgur.com/Citcm.png

[2017-07-20 22:51] benh57 commented on #228
The dir missing could theoretically be my fault - i'm using a slightly modified spec file, but its taken from the remi repo build scripts.

[2017-07-20 22:51] benh57 commented on #228
https://github.com/benh57/remirepo/commit/90f2ba5098e40c27b665a6b2339348ad6bf440bf

[2017-07-20 22:54] benh57 commented on #228
Yeah, looks like my service file doesnt have that, probably cause my remirepo is out of date. Still, we should be able to unset the unixsocket parameter if one doesn't want to enable them. Maybe setting it to 'absent' could make the module unset it in the template?

[2017-07-20 23:11] benh57 commented on #228
Just recloned their cgit to github at https://github.com/benh57/remirepo_redis , gonna try that version which should fix the socket folder.

[2017-07-26 00:49] jarro2783 opened #229 "Can't use as slave bound to localhost"
Why is there a check that prevents using a slave that also binds to localhost: https://github.com/arioch/puppet-redis/blob/master/manifests/init.pp#L251?

I set up an instance with this configuration and it works fine.

[2017-08-07 11:57] demueller commented on #113
Is there a way to do this?:

[code]
Using this style we are getting error:

[2017-08-08 14:07] llauren opened #232 "puppet-redis requires outdated puppetlabs-apt module"
## General apology

I'm no expert in puppet nor git issues. Please be kind with my issue and me. Thank you.

## Affected versions

* arioch/puppet-redis 3.1.0
* puppetlabs/apt 4.1.0
* Puppet 4.10.5
* Ubuntu 16.04 LTS

## How to reproduce

`puppet module install arioch-redis` when current version of `puppetlabs-apt` is installed, or

`puppet module list --verbose` when modules are installed by `--f

[2017-08-08 19:14] petems commented on #113
@demueller that should just be:

[code]

[2017-08-08 19:41] petems commented on #229
I think this was because before you couldn't have multiple redis instances on one host with this module, so it made sense then. But as you say, this isn't neccsary now 👍

[2017-08-08 19:42] #229 closed

[2017-08-17 17:56] Arledrian opened #234 "Wrong ExecStop command in Systemd template"
Hi,

If i stop an instance (systemctl stop ...) i get an error because 'redis-server' doesn't support the '-p' option:
[code]

Maybe 'redis-cli' should be used instead of 'redis-server' for shutdown purpose.

[redis.service.erb.patch.txt](https://github.com/arioch/puppet-redis/files/1232161/redis.service.erb.patch.txt)

[2017-09-05 12:50] bostrowski13 commented on #225
I'd love to see some Redis 4.0 for EL.   Hope you can find some time to work on this again :)

[2017-09-05 16:34] petems commented on #225
I should be able to have a go at this, came back from a long holiday and ready to pick up some open source stuff 😄

[2017-09-12 06:49] Caprico85 opened #238 "No pidfile for sentinel"
Currently you can not specify a pid file location for Redis Sentinel with this module.

This is a problem on Debian 9. Debian's systemd script expects Sentinel's pid file to be `/var/run/redis/redis-sentinel.pid`. Since this module does not specify a pid file, no pid file is created. The systemd script waits for the pid file which is never created, eventually times out and kills sentinel.

The sol

[2017-09-12 10:51] petems commented on #232
Fixed by #237

[2017-09-12 10:51] #232 closed

[2017-09-14 12:38] bostrowski13 commented on #225
be really helpful if they got the 4.0.x RPMs into EPEL.  the latest thats available is 3.2.10.

[2017-09-14 13:48] petems commented on #225
Yeah, I wouldn't get your hopes up on that front. It took them 3 years to go from 2.4 to 3.2... 😞 (https://bugzilla.redhat.com/show_bug.cgi?id=923970)

[2017-09-14 14:30] bostrowski13 commented on #225
Yeah, I didn't have high hopes for that.  Where are you planning to get the RPMs for 4.x.x from?

[2017-09-14 15:37] petems commented on #225
Most people use Remi repo: https://rpms.remirepo.net/

I think I'll just add an example of using the remi repo for Redis install, I don't want to add too many dependancies to the module.

[2017-09-14 16:16] bostrowski13 commented on #225
I had come across this repo before, which seems to stay up to date pretty well.  I'll keep it in mind, thank you.

[2017-09-15 11:24] Caprico85 commented on #238
Nevermind. Somehow I got a very old version of this module. Works with current versions. Sorry.

[2017-09-15 11:24] #238 closed

[2017-09-18 17:31] kingil opened #240 "Please add instructions about multiple instances on a single node"
Hello.
The documentation of the module does not describe in detail the interaction with the cluster.
Could you describe in more detail the process of raising a cluster on one machine on several ports at once?

When I specify something like:

[code]

and run it, a new configuration file appears in the system, directories too, but the service launched with config file /etc/redis/redis.conf . What's

[2017-09-18 19:13] bostrowski13 commented on #234
i have the fix for this in https://github.com/arioch/puppet-redis/pull/230

[2017-09-25 10:18] Caprico85 commented on #84
That's correct. But this module starts a redis instance in sentinel mode **and a normal redis instance**.

[code]

In my case I only want to run Sentinel. I don't want a normal redis instance on this host. But the normal instance is enabled in `environments/production/modules/redis/manifests/service.pp` and there seems to be no way to disable it.

[2017-09-25 10:29] petems commented on #84
Ah ok.

In that case, you can specify that you want the standard redis service not to run:

[code]

[2017-09-25 10:57] Caprico85 commented on #84
I already tried with various parameters on the sentinel instance itself. But I never thought about simply defining an additional instance. Thank you so much!

[2017-10-08 12:20] tomer-amir-vonage opened #242 "[Feature Request] Add `rename-command`"
Hi,

I am working on making my redis instances production ready and as [Redis themselves](https://redis.io/topics/security) recommend, and [other sources](https://www.digitalocean.com/community/tutorials/how-to-secure-your-redis-installation-on-ubuntu-14-04) as well, you should disable some commands on your production instances.

To do this you need to use the `rename-command` configuration in the

[2017-10-09 18:48] petems commented on #242
Hi @TomerAmirV!

Cool, any configuration recommendations directly from Redis themselves we want to have in the module, so I'll probably work on this as the next feature to add to the module 👍

[2017-11-03 15:59] petems opened #246 "2.8 version of Redis on Debian 8 errors out"
From @desertkun:

@petems  Would like to report an issue: when installing redis, it sets the `protected-mode` conf variable even if the version of the redis is 2.8:

![image](https://user-images.githubusercontent.com/1666014/32359516-4ad73868-c057-11e7-8cd7-886f1f26b765.png)

Second launch fixes the problem:

[code]
Apparently, the module somehow detects the 3.2 version of redis, because there is

[2017-11-03 16:01] petems commented on #246
@desertkun This is interesting because we actually have acceptance tests to test Debian and they're passing right now. What code are you running to get this error? Are you using the base Debian repo or trhe http://packages.dotdeb.org/ repo using the `manage_repo` parameter?

[2017-11-03 18:43] desertkun commented on #246
[code]

[code]

[code]
(don't mind 500's)

Like I said, I can share Virtual Box machine state (dropbox)

[2017-11-03 19:12] petems commented on #246
If you change `manage_repo` to true, it will use a more up to date upstream and will work first time.

Do you specifically want to use the debian upstream redis version? I can add support for it if so

[2017-11-03 21:05] desertkun commented on #246
Yeah that solved the issue for me, thank you. It is questionable to me, though, why it is false by default.

[2017-11-30 15:04] bostrowski13 commented on #225
have you had any chance to work on the 4.0 stuff?

[2017-12-12 15:41] eserte opened #253 "Inconsistent sentinel_package_name handling on Debian"
In https://github.com/arioch/puppet-redis/blob/6c28bc3/manifests/params.pp#L123  `$sentinel_package_name` is set for all Debian systems to `redis-sentinel`. But in https://github.com/arioch/puppet-redis/blob/2231d4d/manifests/sentinel.pp#L205 the `package` definition happens only for Ubuntu 16.04 and newer (and there's no support for real Debian systems like stretch and sid). This is causing error

[2017-12-12 16:04] petems commented on #253
@eserte I didn't know they'd changed the package in Stretch, I'll fix that in a PR 👍

[2017-12-13 09:33] #253 closed

[2018-01-16 14:47] fatmcgav opened #255 "Module v3.2.0 not published to forge"
It looks like you have released v3.2.0 of module on Github, but that version hasn't been published to the Puppet Forge.
Latest available version is listed as 3.1.0: https://forge.puppet.com/arioch/redis

[2018-02-08 17:22] aryeharmon opened #256 "Unable to AUTH to MASTER: -ERR Client sent AUTH, but no password is set"
Unable to AUTH to MASTER: -ERR Client sent AUTH, but no password is set

when password is set

[2018-02-14 08:27] maxadamo opened #257 "cannot bind ipv4 and ipv6"
Hi.
In order to listen on any interface, either on ipv4 and ip4v, it would be enough to not declare at all the parameter `bind` in `redis.conf`.

Can you please add a check, to ensure that bind is defined, before adding the paramter in the file?
I have tried `'*'` but it enables only IPv4.

[2018-02-22 21:18] dandunckelman opened #260 "Type forking causes service timeout"
## Environment
- **OS:**  Ubuntu 16.04
- **Redis version:**  4:4.0.8-1chl1~xenial1
  - Using the default ppa
- **Puppet module:**  the [add_redis_4_support](https://github.com/arioch/puppet-redis/tree/add_redis_4_support) branch
- **Puppet version**:  4.10.10

## Summary
When the service file is setup w/ `Type=forking`, I get timeouts, and the service continually restarts in a loop.

    Job for r

[2018-02-22 21:38] dandunckelman commented on #260
Actually, the `manage_service_file` isn't a public class param.
- It's set by default to `false` in [params](https://github.com/arioch/puppet-redis/blob/add_redis_4_support/manifests/params.pp)
- It's set to `true` when `default_install: true`.

So, I'd have to set `default_install: false`, then repeat everything in https://github.com/arioch/puppet-redis/blob/add_redis_4_support/manifests/instance

[2018-02-26 09:56] TheMeier commented on #227
Actuall this leads to errors for me

`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Function Call, integer 7089836968 too big to convert to `int'`

Any chances to cut a release, theres 24 commits merged already on master an the last release was ~6 month ago :/

[2018-02-26 12:59] petems opened #262 "Can't release - Require Forge Credential Refresh"
Hi @arioch!

Can you regen the Travis credentials? I can't release right now

[2018-02-26 13:00] petems commented on #227
Hi @TheMeier! I'm having issues with releasing right now (See https://github.com/arioch/puppet-redis/issues/262)

But I'm curious, there's no reason that the value should be that big an integer!

Can you run the following on the machine running that: `redis-server -v` and comment the full output into this issue?

[2018-04-04 03:03] bostrowski13 commented on #225
boy its been a while since I had a look at this.  did 4.0 support get any attention?  any way I canhelp get it out if not?

[2018-04-30 12:17] dol commented on #255
Upvote

[2018-05-03 16:11] arioch commented on #262
Unless any other steps are required it should be fixed in 338daa46f.

[2018-05-03 16:25] arioch commented on #255
As requested: https://forge.puppet.com/arioch/redis/3.2.0/.

@dol rather than upvote you can just mail/slack me. Otherwise your msg gets cought in my filters like any other Github mail.
My address shouldn't be too hard to find... 😉

[2018-05-03 16:25] #255 closed

[2018-05-03 16:25] #262 closed

[2018-05-03 16:41] petems commented on #255
Awesome, thanks @arioch! 😄

[2018-05-03 16:41] petems commented on #216
Fixed by @arioch 😄

[2018-05-03 16:41] #216 closed

[2018-05-03 18:03] petems commented on #225
Alrighty, so, now that #216 is fixed, I can start working on this again and get it released 😄

[2018-05-04 11:07] dol commented on #255
@arioch Sorry. Will do in the future. Thanks.

[2018-05-07 22:13] arioch commented on #255
No need to apologise, you didn't do anything wrong. 🍺

[2018-05-23 07:47] basti-nis commented on #256
hey aryeharmon,

how does your code look like, especially the class { 'redis':} part?

I assume you forget to set the requirepass parameter.

Here is an example:
variables:

master:

slave:

sentinel part for master+slave:

greetings

[2018-06-09 01:08] mamercad opened #263 "output_buffer_limit_pubsub and output_buffer_limit_slave"
[code]

[code]

[2018-06-09 19:46] #263 closed

[2018-06-09 19:46] mamercad commented on #263
Looks like you fixed it in 9ee992a

[2018-06-19 10:55] llauren opened #264 "Outdated dependency puppetlabs-apt < 3.0.0"
Hi,

Would it be possible to update the dependency `puppetlabs-apt` to version &lt; 5? The current version seems to be 4.5.1 and this is blocking my forceless upgrade.

[2018-06-19 10:59] petems commented on #264
This is already fixed on master but hasn't been released yet, let me do a release of 3.3.0 for the module

[2018-06-19 12:08] petems opened #267 "Travis Credential issues... still :("
@arioch Still happening I'm afraid:

https://travis-ci.org/arioch/puppet-redis/jobs/394058880

[code]

[2018-06-19 12:12] petems commented on #264
Blocked by #267

[2018-06-28 05:21] jarro2783 opened #268 "Ulimit configuration broken for systemd"
It appears that the `ulimit` implementation for systemd has never worked. I just get an empty file. This is particularly a problem on Ubuntu 18, where systemd reports a unit as masked if it has an empty drop-in file.

I can work around it by setting `redis::ulimit => false`, because that then doesn't instantiate the `redis::ulimit` class at all.

[2018-07-17 15:40] tobias-urdin commented on #225
Any update on 4.x support? I tested the `add_redis_4_support` branch but still got some issues of the configuration file not being idempotent on the second puppet run. Here is some debug info, running on Ubuntu Bionic with Puppet 5.

Manifest: `class { '::redis': }`

First run:
[code]

Redis version being installed:
[code]

[code]

The `redis-server` systemd unit cannot be enabled:
[code]

If  you

[2018-07-20 09:07] lklimek commented on #225
Looks like the redis-server.service is masked due to an empty file created in /etc/systemd/system/redis-server.service.d/limit.conf . Try adding "ulimit => false" to invocation of redis class - this solves "masked" issue for me.

[2018-07-24 10:41] cmseal commented on #268
I've just come across the same issue, re: 18.04 and the unit being masked, thus unable to 'enable' the service.

[2018-08-10 14:36] bahner commented on #268
It seems that the problem is that limit.conf is empty. That is, eeeeh "interpreted" by systemd as if it's -> /dev/null'ed. It would say this is a bug in systemd , but maybe it's by design. I don't know. The solution here seems to be: don't touch or define limit.conf unless there's a reason too.
I will see if I can come up with a PR for this.

[2018-08-21 04:34] kamusin opened #271 "Update Redis administration $somaxconn value"
First of all, thank you for the awesome module you guys provide. Our company is doing the transition from our own in-house module to `puppet-redis`. I found today something that I figured a few months ago actually while reviewing our version and is related to the `net.core.somaxconn` kernel parameter.

if you include `redis::administration`, one of the changes that we introduce to the kernel are s

[2018-09-07 11:45] raoulbhatia commented on #225
I set `ulimit => false` but nothing changed.

I then manually removed `/etc/systemd/system/redis-server.service.d/limit.conf` and the error disappeared.

Suggestions:  Ensure absent for the limit.conf file in  [ulimit.pp](https://github.com/arioch/puppet-redis/blob/989403c3b291ec3d529490076bcc4772af3c11a0/manifests/ulimit.pp) and always `contain ::redis::ulimit` in [config.pp#L42](https://github.c

[2018-09-11 13:40] l-lotz commented on #264
I created #270 which updates the dependency to < 6.0.0

[2018-09-11 19:46] arioch commented on #267
Sent you a pm.

[2018-09-30 15:18] desertkun commented on #246
@petems Sorry for revising old issue now, but `$manage_repo` actually does not fix the issue. Because `apt-policy` still keeps outdated `2.8.17` preferable:
[code]

A solution would be to actually fix `$manage_repo` like that:

[code]
(note the `apt:pin` trick that will make `apt-policy` to prioritize package `redis-server` from `packages.dotdeb.org`)

I could submit a PR if you'd like.

[2018-10-27 14:20] fkoksal opened #275 "Module installation fails on Centos 7"
When try to install the module (v3.3.0) on Centos 7 as described in module description

I get the error below:
[code]

Module version: 3.3.0
Puppet version: 6.0.2
OS version: Centos 7

[2018-11-12 15:00] bostrowski13 commented on #94
You may want to use the facts hash to get the correct IP.

$facts[networking][ip]

[2018-11-12 19:56] bostrowski13 opened #276 "selinux"

[2018-11-12 20:02] petems opened #277 "Looking for maintainer [Help needed]"
Hello!

I'm now a dad and not really working with Puppet code directly anymore, leading me to drop supporting this module.

If anyone out there wants to support the module, I'll help add you and fix issues for contributors.

CC @arioch since he'll prob need to add you to the repo 😄

[2018-11-12 20:11] bostrowski13 opened #278 "Transparent Huge Pages (THP) Not Disabled on RHEL"
Looks like THPs aren't disabled as part of the config on RHEL (probably the other similar flavors as well).

`4996:M 12 Nov 19:55:37.514 # WARNING you have Transparent Huge Pages (THP) support enabled in your kernel. This will create latency and memory usage issues with Redis. To fix this issue run the command 'echo never > /sys/kernel/mm/transparent_hugepage/enabled' as root, and add it to your /

[2018-11-12 20:14] bostrowski13 commented on #278
just totally saw the redis::administration class.  sorry.

[2018-11-12 20:14] #278 closed

[2018-11-12 20:15] petems commented on #277
@bostrowski13 looks like you're using the module pretty heavily, do you want to be added? 😄

[2018-11-16 15:42] bostrowski13 commented on #277
@petems I'm a dad of 2 myself, but I'll be happy to help to contribute.  Maybe voxpupili would be willing to take it on?

[2018-11-20 10:03] arioch commented on #277
@petems belated congrats! And an overdue thank you for all the effort you put into this module.
@bostrowski13 I've added you as collaborator. Feel free to accept/deny as you wish, otherwise I'd probably forget.

Voxpupuli would be the right place for this module, but as it's the end of 2018 I'm no longer on IRC. The voxpupuli council prefers IRC over their own Slack channel. I'll have try to free

[2018-11-22 15:37] #268 closed

[2018-11-22 15:42] arioch commented on #268
Should be fixed by merging @bahner's PR.
Thanks again.

[2018-11-24 19:00] bostrowski13 commented on #277
I think I can help for now.  I've got s couple changes I'm going to push next week.   Thanks for the invite

[2018-11-27 22:08] walkamongus commented on #264
Can anyone confirm the module works with puppetlabs/apt 6.x.x? Would be good to bump compatibility to < 7.0.0 if it does.

[2018-11-28 14:48] l-lotz commented on #264
According to the [Changelog](https://github.com/puppetlabs/puppetlabs-apt/blob/master/CHANGELOG.md#600-2018-08-24) puppetlabs/apt 6.0.0 removed support for puppet 4.7. I think if the dependency is updated to <7.0.0, this would also be a backward incompatible change for the redis module and require a version bump, right? Currently, however, there is no puppet version requirement specified in the me

[2018-12-11 18:31] alexskr commented on #228
looks like this is fixed if you set  `unixsocket => false`

[2019-01-10 13:57] baurmatt commented on #277
@bastelfreak Can you help to migrate this module to VoxPupuli? :)

[2019-01-10 14:23] crazymind1337 opened #283 "Please release v3.3.2 due to Ubuntu 18.04 / systemd fix."
Hello,

the not yet existing version v.3.3.2 would fix an issue at our Ubuntu 18.04 setup. The service `redis-server.service` cannot be `enabled` at systemd due a misconfiguration, which has been fixed with commit 1c5e2d67827be409da8571ca335b01db66f17aa2. Please release v.3.3.2.

[2019-01-16 21:50] bastelfreak commented on #277
hey @arioch. Coul you join our IRC channel @voxpupuli so we can discuss this and do the migration? The codebase here looks pretty good, I see no reason to not adopt it.

[2019-01-29 17:20] tdm4 commented on #225
We've run into this on Ubuntu 18.04. I blame systemd for not handling empty files properly (as in, ignore them, don't "mask" the service).

[2019-02-15 13:34] fungunga commented on #283
Yes! Please do! :-) We also are waiting for it… Thanks a looooot!

[2019-03-08 09:48] alexjfisher commented on #277
@arioch Do you want to proceed with the migration?

[2019-03-09 08:54] alexjfisher opened #291 "Convert function to API v4 ruby function"
The modern ruby function api is environment isolation safe.

[2019-03-09 08:56] alexjfisher opened #292 "Get acceptance tests running again"
Knowingly disabled during the initial modulesync PR, we need to get these running again.

[2019-03-11 16:30] alexjfisher opened #301 "4.0.0 Release Summary"
This is the first release since the module was migrated to the Vox Pupuli `puppet` namespace.

[2019-03-11 16:30] #301 closed

[2019-03-11 19:24] arioch commented on #277
^ answered the same question on Slack.
Anything else required from my end?

[2019-03-11 19:37] alexjfisher commented on #292
Fixed in https://github.com/voxpupuli/puppet-redis/pull/299

[2019-03-11 19:37] #292 closed

[2019-03-11 19:40] alexjfisher commented on #264
Dependencies updated again in https://github.com/voxpupuli/puppet-redis/pull/296
Hopefully you can expect the a new release this week.

[2019-03-11 19:40] #264 closed

[2019-03-11 21:27] #291 closed

[2019-03-12 11:02] #60 closed

[2019-03-12 11:02] #257 closed

[2019-03-12 11:19] petems commented on #267
No longer an issue, moved to Vox 👍

[2019-03-12 11:19] #267 closed

[2019-03-12 11:20] petems commented on #152
Done in https://github.com/voxpupuli/puppet-redis/commit/f14f07db1be7b1ded2cd7ac233d43bdd5e3681db

[2019-03-12 11:20] #152 closed

[2019-03-12 14:56] alexjfisher commented on #277
@arioch Thanks, but I think we should be good.

[2019-03-12 17:41] alexjfisher commented on #283
The module has been migrated to the Vox Pupuli community group and version 4.0.0 has just been released. https://forge.puppet.com/puppet/redis

[2019-03-12 17:41] #283 closed

[2019-03-14 13:42] alexjfisher commented on #277
Version 4.0.0 was released and I have opened https://tickets.puppetlabs.com/browse/FORGE-493 to complete the process.

[2019-03-14 16:12] ragingdave opened #305 "Missing ability to secure sentinel?"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.10
- Distribution: CentOS 7.6.1810
- Module version: 4.0
- Redis: >= 5.0.1

## How to reproduce (e.g Puppet code you use)
I mean  I don't have code but currently you can't configure the sentinel instances to requirepass to improve security in multi server redis instances managed by sentinel.

## What are you seeing
No se

[2019-03-14 17:06] alexjfisher commented on #305
The documentation could certainly be better, but I think this is already possible.
You can set [`auth_path`](https://github.com/voxpupuli/puppet-redis/blob/5464b335f9bd05fc0dd412bdd9dad97d4539a1f6/manifests/sentinel.pp#L168)  and that will configure sentinel [correctly](https://github.com/voxpupuli/puppet-redis/blob/5464b335f9bd05fc0dd412bdd9dad97d4539a1f6/templates/redis-sentinel.conf.erb#L13-L15

[2019-03-15 22:07] v6 commented on #152
Is that the "final tag" you alluded to earlier?

[2019-03-16 20:05] ragingdave commented on #305
This would (and correct me if I'm wrong) only enable sentinel to talk to a secure redis installation, not secure the communication between sentinel instances.

https://redis.io/topics/sentinel#configuring-sentinel-instances-with-authentication

This was added in Redis 5.0.1, so it's rather new.

[2019-03-16 22:23] alexjfisher commented on #305
@ragingdave Ah, ok. I didn’t know about that. Thanks for the link. Would you be able to create a PR to add the functionality?

[2019-03-17 03:42] ragingdave commented on #305
maybe.... I will see if I can tomorrow-nextweek-ish to put one through

[2019-03-27 18:24] fungunga commented on #283
Yeah! Thanks! Works! Jippie!

[2019-04-24 14:07] CallumBanbery opened #308 "Fix manage_service_file variable"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby:
- Distribution: Debian GNU/Linux 9.5 (stretch)
- Module version: v4.0.0

## How to reproduce (e.g Puppet code you use)
Set 'redis::manage_service_file: true' in hieradata.

## What are you seeing
The block of code that sets up the service file using the template isn't being executed, leaving the file on disk

[2019-04-24 14:29] CallumBanbery opened #310 "Fix systemd service filename"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.12
- Ruby:
- Distribution: Debian GNU/Linux 9.5 (stretch)
- Module version: v4.0.0

## How to reproduce (e.g Puppet code you use)
Set 'redis::manage_service_file: true' in hieradata.
Set 'redis::service_provider: "systemd"' in hieradata.

## What are you seeing
When the config class creates the default instance it doesn

[2019-05-10 09:39] #308 closed

[2019-05-10 09:39] #310 closed

[2019-05-14 17:44] anthonysomerset commented on #223
to me this is not about running multiple sentinel instances (on the same box) but more about being able to monitor 2 individual redis master/slave clusters, e.g. I am looking at deploying 3 nodes, A, B, C each with redis and sentinel, i'd like to run 2 redis instances on each node on ports 6379 and 6380 respectively, i'd like node A to be master for 6379 and node C to be master for 6380

[2019-06-21 10:17] alexfouche opened #315 "Puppet did not detect changes in `/etc/redis.conf` neither reapplied the template"
# What are you seeing (the issue)

Someone modified `/etc/redis.conf` and put bogus values (either security issue or other guy mistake, or simply forgotten manual configuration change on machine), and future runs of Puppet never detected the change nor reapplied the correct configuration

# What behaviour did you expect instead

Puppet would

1. detect the `/etc/redis.conf` file has been modified

[2019-07-23 12:24] freiman opened #319 "Add support to monitor multiple redis masters for one redis sentinel"
Redis sentinel have support to monitor multiple redis masters and participate in failover. It would be nice to add support for this. Or at least to implement another issue #223 which can also solved this problem.

It can be implemented like this:
[code]

[2019-08-15 12:42] rmalenko opened #321 "redis disable snapshots"
1. Disable AOF by setting the appendonly configuration directive to no (it is the default value)
2. Disable RDB snapshotting by disabling (commenting out) all of the save configuration directives (there are 3 that are defined by default)

I have changed for Redis 5.5 this template [redis.conf.erb](https://github.com/voxpupuli/puppet-redis/blob/master/templates/redis.conf.erb) to have uncommented t

[2019-08-26 18:17] hpkunz opened #322 "Support for Debian 10?"
Hi,

I am using

- Puppet: 6.8.0
- Ruby:
- Distribution: Debian 10 (buster)
- Module version: 4.2.0

I just installed redis/sentinel on a Debian buster machine and integrated it into an existing group of existing redis servers (replication). I observed the following:

1. redis-server worked as expected
2. starting the redis-sentinel always resulted in timeouts (although the service itself seemed t

[2019-11-13 12:11] ekohl commented on #246
Support for Debian 8 was dropped in master.

[2019-11-13 12:11] #246 closed

[2019-11-13 23:54] lordbink opened #329 "Instance is not read from hiera file"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.10.1
- Ruby: 2.5.7p206 (default from bin directory inside puppet)
- Distribution: Ubuntu 16.04
- Module version: 4.2.1

## How to reproduce (e.g Puppet code you use)
This works inside nodes.pp:

[code]

This does not work inside the node/hiera file (test-node.eyaml):

[code]

## What are you seeing
No changes to the end no

[2019-11-14 08:00] Dan33l commented on #329
Hi @lordbink

I am not user of this module. But, the resource `redis::instance` is a defined type. And so, it can not be used from hiera data.

One way to do this could be to implement a class `redis::instances` (endind with `s`) that call `redis::instance` (without `s`) via a `each` loop. Something like this  would make it possible to use hiera.

Can you propose a patch ?

[2019-11-15 17:56] lordbink commented on #329
Pull request made: https://github.com/voxpupuli/puppet-redis/pull/330

[2019-11-27 09:40] amoralej opened #331 "Can't disable unixsocket after"
After https://github.com/voxpupuli/puppet-redis/commit/502ff38c8c035fa143e32dd4ee61b3ec68db461c i can't disable unixsocket anymore.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.10
- Ruby: ruby-2.0.0.648
- Distribution: centos7
- Module version: commit 5c97e7e4bbfe5238674ee80bf6d54b846d3802d5

## How to reproduce (e.g Puppet code you use)

class { '::redis':
  bind

[2019-11-27 10:13] Dan33l commented on #331
Hi @amoralej thank you for this hi quality report.

First the parameter `unixsocket`, is described as `Define unix socket path`.
But the template uses `<% if @unixsocket %>unixsocket <%= @unixsocket %><% end %>`.
So yes, using `false` does not add `unixsocket` in the configuration file.

I am not sure it is an expected behavior, but we have to take care of this i suppose.
Perhaps a fix could be wi

[2019-11-27 10:30] ekohl commented on #331
@amoralej thanks! Adding data types is tricky, but I do think it leads to a better module in the end.

What do you think about an empty string as a marker for the unix path?

Regarding the port: it looks like you're using 777 so I think we can start using `Stdlib::Port` instead.

[2019-11-27 10:47] amoralej commented on #331
I like more the idea of using Variant[Stdlib::Absolutepath, Boolean] as it'd maintain backwards compatibility but if you prefer to use empty string or other way, no problem.

ups, you are right, i copied the error messages from a previous execution that also had 777 as port, but you can forget about that, was just a mistake. The relevant one is:

parameter 'unixsocket' expects a Stdlib::Absolutepa

[2019-11-27 10:53] ekohl commented on #331
I've opened PRs for both issues. I'd appreciate reviews on them.

https://github.com/voxpupuli/puppet-redis/pull/333

https://github.com/voxpupuli/puppet-redis/pull/332

[2019-12-02 18:26] #331 closed

[2019-12-02 18:29] ekohl commented on #322
fce8da9c7b977db9f87e236cf63c2cb97abe8f93 has updated the pid file to that location on Debian. I had some issues with the bolt gem on Debian for the acceptance tests so it's not officially marked as supported. I'll gladly merge patches to add that support.

[2019-12-02 18:31] ekohl commented on #275
We've moved to the Voxpupuli organization so I'm closing this now. Please reopen if this is still relevant with the latest release.

[2019-12-02 18:31] #275 closed

[2019-12-02 18:35] ekohl commented on #271
I'm not sure how to proceed here. It sounds like `redis::administration` is already doing what it's supposed to.

[2019-12-02 18:37] ekohl commented on #260
In fce8da9c7b977db9f87e236cf63c2cb97abe8f93 daemonize behavior was improved to match the OS defaults. I believe with that this issue can be closed.

[2019-12-02 18:39] ekohl commented on #228
This has changed to the empty string in Redis 5.0.0 but before could be done using `false`.

[2019-12-02 18:39] #228 closed

[2019-12-02 18:40] ekohl commented on #76
Closing due to inactivity.

[2019-12-02 18:40] #76 closed

[2019-12-02 18:40] ekohl commented on #58
Closing for inactivity.

[2019-12-02 18:40] #58 closed

[2019-12-02 18:43] ekohl commented on #84
Additionally `default_install` as a parameter can be used.

[2019-12-02 18:43] #84 closed

[2019-12-02 18:44] #94 closed

[2019-12-02 18:44] #329 closed

[2019-12-31 22:00] jonra678 opened #341 "Redhat SCL Config_Dir Issue"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: v2018.1.11 (Enterprise)
- Ruby:
- Distribution: RHEL 7
- Module version: 5.0.0

## How to reproduce (e.g Puppet code you use)
Configure the module utilizing Redhat Software Collections implementation for Redis and Sentinel installation and configuration. This is after updating the globals.pp $scl variable from 'undef' to "rh

[2020-01-17 08:06] basti-nis commented on #322
I got the same problem, but your new pid file path won't work for me.

Description:    Debian GNU/Linux 10 (buster)
Release:        10
Codename:       buster
Debian 10.2

  Installed: 5:5.0.3-4+deb10u1
  Candidate: 5:5.0.3-4+deb10u1
  Version table:
 *** 5:5.0.3-4+deb10u1 500

The pid file path for me is as follows:
`/run/sentinel/redis-sentinel.pid`

After i changed the parameter to:

`pid_file =

[2020-02-17 17:29] #322 closed

[2020-02-17 17:58] ekohl commented on #341
I must admit that when I wrote the SCL support code, I didn't look too carefully at the sentinel part and didn't write an acceptance tests for this. Since we don't use the sentinel, I don't think I'll have time to come up with a fix but a PR to address this would be very welcome and I'll gladly review it.

[2020-02-19 04:54] dandunckelman commented on #260
Hilarious, I was just updating my Puppet stack and got bit by this again on v5.0.0.

Looks like it's fixed in https://github.com/voxpupuli/puppet-redis/commit/d779b75a937dd846323481e72eb604f5829e4c0e#diff-8845f76d702128044df189e2b992901e

I'll try that now.

[2020-02-19 05:04] dandunckelman commented on #260
I just confirmed that the above commit fixed this.

This time, here are my environment details:
- OS: Ubuntu 18.04
- Redis server version: 5:5.0.7-1chl1~bionic1 (from http://ppa.launchpad.net/chris-lea/redis-server/ubuntu bionic/main)
- Puppet module: https://github.com/voxpupuli/puppet-redis/commit/d779b75a937dd846323481e72eb604f5829e4c0e
- Puppet version: 6.13.0

Thanks to everyone involved in m

[2020-02-19 05:04] #260 closed

[2020-02-19 12:41] ekohl commented on #234
Which OS and Redis version was this on?

[2020-02-26 13:43] pyslarvt commented on #234
I confirm this bug on Ubuntu 16.04 and Redis 5.0.7. Why not to use the ExecStop command like in the unit-file from the deb package?
[code]

[2020-02-26 14:04] ekohl commented on #234
I'd like to utilize the shipped `redis@.service` (since Debian 10 and Ubuntu 18.04) since they contain many more improvements. However, right now I have no use case for multi instances and for the default service the package service file should be used so I have no time to work on this. PRs are welcome though.

[2020-03-04 23:36] stasiek opened #349 "File descriptor limit is not set in systemd unit file by default."
## Affected Puppet, Ruby, OS and module versions/distributions
- Module version: 5.0

On a clean Debian installation /etc/security/limits.conf file descriptor limit can be set to whatever. When starting, Redis tries to ensure it can get 10k descriptors and crashes if it can't.

This module creates it's unit files for systemd, which is awesome, but there's no way to set the limit in the unit file w

[2020-05-05 07:13] alexskr opened #354 "systemd stop command is invalid"
systemd template contains an invalid command for stopping redis server:

ExecStop=/usr/bin/redis-server -p <%= @port %> shutdown

redis eventually gets killed but leaves an annoying error in the syslog:
`redis-server: # Fatal error, can't open config file '-p'`

I believe this was meant to be `ExecStop=/usr/bin/redis-cli -p <%= @port %> shutdown`

[2020-05-05 09:00] ekohl commented on #225
Recent versions can deploy newer versions. Please open new issues/PRs if there's still something missing.

[2020-05-05 09:00] #225 closed

[2020-05-05 09:01] #234 closed

[2020-05-05 09:01] #354 closed

[2020-05-05 09:02] ekohl commented on #74
Due to its age I'm going to close this issue. If there's something missing, please open a new issue.

[2020-05-05 09:02] #74 closed

[2020-05-05 09:03] ekohl commented on #271
Due to its age and that it needs feedback, I'm going to close this issue. If there's still a problem, please reopen or open a new issue/PR.

[2020-05-05 09:03] #271 closed

[2020-05-05 09:06] ekohl commented on #349
https://github.com/voxpupuli/puppet-redis/issues/276 also reported this. Could you come up with a patch?

[2020-05-12 12:55] basti-nis commented on #319
This PR will bring this feature #356

[2020-07-02 12:43] maxdwit opened #361 "Debian 10 dotdeb buster"
-  Puppet: 6.16
- Distribution: Debian 10.3
- Module version: puppet-redis (v5.0.1-rc0)

Info: /Stage[main]/Redis::Preinstall/Apt::Source[dotdeb]/Apt::Setting[list-dotdeb]/File[/etc/apt/sources.list.d/dotdeb.list]: Scheduling refresh of Class[Apt::Update]

## How to reproduce (e.g Puppet code you use)
puppet agent -t with redis module

## What are you seeing
dotdeb has no repository for buster

##

[2020-07-02 12:48] ekohl commented on #361
Then you should not set `manage_repo` to true. This is off by default.

[2020-07-08 10:11] #361 closed

[2020-07-13 22:29] davealden commented on #315
How in the world did this get approved by puppet?  Isn't the whole point of puppet is that if someone hand edits a config file, puppet will automatically put it back?

My colleague and I wasted an hour trying to figure out why the module wasn't "fixing" the config file after someone hand edited it - then we came across this.  :(

[2020-07-14 07:53] alexjfisher commented on #315
Looks like it's been coded this way so that it's compatible with Sentinel. https://github.com/voxpupuli/puppet-redis/commit/1c004143223e660cbd433422ff8194508aab9763#diff-0ac866172efd29d0ddc2aa75ae6f182d

[2020-07-14 07:56] basti-nis commented on #315
This!

Because Sentinel rewrite the /etc/redis.conf at runtime, so puppet should not write in /etc/redis.conf

[2020-07-14 10:09] alexjfisher commented on #315
More generally, if an administrator has altered any configuration at runtime (using `CONFIG SET`), then either when they (or sentinel) issues `CONFIG REWRITE`, the redis.conf will be rewritten.

[2020-07-14 10:14] alexjfisher commented on #315
Maybe a new `strict_enforce_config` option or something would be useful to users not using sentinel?

Anything fancier would probably need someone to write a native type/provider (especially if you want puppet to be able to reconfigure redis without restarting it)

 PRs and other suggestions welcome.

[2020-07-18 03:12] msiroskey commented on #315
I would propose that the default behavior be to enforce file compliance unless you are using a sentinel configuration.  Code could check to see if $redis::sentinel::service_enable is defined and true to use the temporary file else use the normal config file.

[2020-11-04 17:11] and0x000 commented on #361
Taking a look at the [dotdeb website](https://www.dotdeb.org/), it looks like this project has been discontinued in its entirety mid-2020. It might be worth discussing, if the dotdeb repository should be removed/replaced.

[2020-11-04 17:26] ekohl commented on #361
Thanks for that info. I opened https://github.com/voxpupuli/puppet-redis/pull/371 to remove the code.

[2020-11-05 19:16] gdubicki opened #372 "After a reboot THP (Transparent Huge Pages) are enabled again"
## Affected Puppet, Ruby, OS and module versions/distributions

current

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

On a first run THP are being disabled before Redis service is started, so it affects Redis.

However if you reboot the server then Redis will start with THP enabled as it's not disabled in a persistent way.

## What behaviour did you expect instead

[2020-11-05 19:24] gdubicki commented on #372
There is a module to configure THP in a persistent way, see https://forge.puppet.com/alexharvey/disable_transparent_hugepage .

[2021-01-14 05:26] #242 closed

[2021-01-20 16:52] radarnex opened #386 "Systemd service stop issues with multiple redis instances"
## Affected Puppet, Ruby, OS and module versions/distributions
- Distribution: Ubuntu
- Module version: 6.1.0

## How to reproduce (e.g Puppet code you use)
Service template contains the parameter `RuntimeDirectory` which tells systemd to delete the dir when stopped. It was introduced more than 1 year ago (https://github.com/voxpupuli/puppet-redis/commit/8749ce7e52aece238ef1a56a1f2ffa13d4582d37).

[2021-01-21 06:47] #372 closed

[2021-02-22 10:09] laugmanuel opened #390 "Make ulimit optional or use puppet-systemd for dropin"
This module currently contains `redis::ulimit` on every run (https://github.com/voxpupuli/puppet-redis/blob/master/manifests/config.pp#L41-L43) which can't be disabled due to the parameter constraints here: https://github.com/voxpupuli/puppet-redis/blob/master/manifests/init.pp#L318

This makes it impossible to add an additional `systemd::dropin` using https://github.com/camptocamp/puppet-systemd

[2021-02-22 10:36] ekohl commented on #390
Now that we've dropped sysvinit (42fd85c938bdb2e4b88816a41a4abe93da87e10e) it would be good to rely on the systemd feature for this. There is actually code for it in the service template:

https://github.com/voxpupuli/puppet-redis/blob/551e58b50dd6101b9ad563b81de07aafaa2dfdb1/templates/service_templates/redis.service.erb#L22

However, for the default service we use the system provided one. Using a

[2021-02-22 13:51] laugmanuel commented on #390
I'll prepare a PR with fixed parameter constraints and also the use of [puppet-systemd](https://github.com/camptocamp/puppet-systemd) for Dropin management.
Is there any policy for voxpupuli modules regarding external dependencies?

[2021-04-27 12:47] #341 closed

[2021-04-27 12:57] ekohl commented on #349
Fixed in 0f930aad8cfed622b66ce522f2186b35de127165

[2021-04-27 12:57] #349 closed

[2021-04-27 12:58] ekohl commented on #276
The ulimit part has been fixed in 0f930aad8cfed622b66ce522f2186b35de127165. Adjusting the title to only reflect the SELinux part.

[2021-04-27 13:00] ekohl commented on #390
Closing since this was resolved in #396.

[2021-04-27 13:00] #390 closed

[2021-04-28 09:59] ekohl commented on #227
I don't think this is an issue anymore so I'm closing this. Feel free to reopen if it persists.

[2021-04-28 09:59] #227 closed

[2021-05-11 18:01] rnelson0 opened #401 "Replace `slaveof` with `replicaof`"
As of 2018, the term `slaveof` was aliased to and then later replaced with `replicaof`. This module should support that same terminology to make it easier for users to align settings between redis itself and the redis module.

Making such a change to replace the term would be backwards compatible. I am not sure if we can find a way to alias the parameter or if we should just cut the cord on backwa

[2021-05-12 12:03] kaiszy opened #402 "Rediscluster on Ubuntu 20.04"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:  7.0.0
- Ruby:  2.7.1p83
- Distribution: Ubuntu 20.04
- Module version: 7.0

## How to reproduce (e.g Puppet code you use)

I have configured a rediscluster with the following configurtation:

[code]

## What are you seeing

Then puppet agent run installs redis and add a systemd Servicefile. But when i try to start redis i g

[2021-05-17 07:11] jeandoBet commented on #321
Hi,

Any update on this ? Will it be implemented ?

Thanks,

[2021-06-17 16:01] #305 closed

[2021-07-12 22:05] mattpascoe opened #404 "Ability to disable slowlog_log_slower_than"
Currently the code requires an integer for slowlog_log_slower_than as indicated here:

https://github.com/voxpupuli/puppet-redis/blob/d33892c573d9df29b37ba79dd7077a09554f6d8f/manifests/init.pp#L311

However there are times you would want to disable slowlog all together.  The way to do this is to pass in '-1' which puppet complains is not an integer.

Please allow for '-1' values in this field.  I'

[2021-08-29 17:57] #404 closed

[2021-10-26 17:07] jnguiot opened #425 "redis.conf is readable by all"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: all
- Ruby: all
- Distribution: all
- Module version: 8.2.0

## How to reproduce (e.g Puppet code you use)
Install a Redis using default conf with a password
[code]

## What are you seeing
The file /etc/redis/redis.conf which contains the password is readable by all users. Thus, it is trivial to a local unauthorized user to

[2021-11-15 09:23] root-expert commented on #425
Hello @jnguiot thanks for bringing this up. Are you able to provide a PR to fix this issue?

[2021-11-15 21:40] jnguiot commented on #425
Of course.
Done in PR #427 (yep, that's a short one :smile: )

[2021-11-16 08:57] #425 closed

[2021-12-02 09:45] jnguiot opened #428 "Systemd service stop issues with redis instances"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.24.0
- Ruby:
- Distribution: Ubuntu 18.04
- Module version: 8.2.0

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
The service doesn't stop properly:
[code]
The `ExecStop` did not not stop the service and returns a failure.

## What behaviour did you expect instead
The ExecStop should stop the

[2022-02-20 17:22] hashworks opened #439 "Single instance systemd service won't start on Arch Linux"
## Problem

Using a simple single instance configuration fails to start:
[code]

[code]

This is because the Arch package uses `ExecStart=/usr/bin/redis-server /etc/redis/redis.conf` in the systemd unit file and expects `supervised systemd` in `/etc/redis/redis.conf`, which currently can't be set using the redis class.

## Workaround

[code]

## Solution

Allow users to set `supervised` in the cla

[2022-02-22 10:39] ekohl commented on #439
I noticed that Debian also doesn't set it in its unit file and uses `Type=forking`, at least in Debian 10. Then EL8 as `Type=notify` but passes `--supervised systemd` in `ExecStart`. We can't just set `supervised systemd` in `redis.conf`. I was thinking: should Archlinux instead be updated to set `--supervised systemd` in its unit file? That feels like the correct solution to me.

[2022-02-22 10:55] hashworks commented on #439
You've got a point. Talked with the Arch package maintainer, he is going to adjust the unit file.

[2022-02-22 11:10] ekohl commented on #439
Awesome! For what it's worth, Beaker recently learned to run on Arch (thanks @bastelfreak!). In https://github.com/voxpupuli/puppet-redis/pull/438 I found out there are more failures. It'd be great if we could get the acceptance tests to all pass so we can properly say it's supported.

[2022-02-25 10:33] ekohl commented on #428
I wonder if this is a duplicate of https://github.com/voxpupuli/puppet-redis/issues/386.

[2022-03-09 18:57] lordbink opened #442 "Systemd module is depreciated"
Are there any plans to replace the use of the cap-to-camp/systemd module? This module appears to be depreciated.

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: All
- Module version: Redis 8.2.0, Systemd 3.0.0

## How to reproduce (e.g Puppet code you use)
View logs when creating a new branch. Review systemd web page.

## What are you seei

[2022-03-09 18:59] lordbink commented on #442
It appears the voxpupuli systemd is the replacement:
https://github.com/voxpupuli/puppet-redis/pull/408

[2022-03-09 19:05] smortex commented on #442
v8.0.0 switched to that module.

[2022-03-09 19:05] #442 closed

[2022-03-28 18:23] root-expert commented on #386
I think this is fixed by https://github.com/voxpupuli/puppet-redis/commit/b7f7478c4db6f57b2b724e97ae4ad86be8c68338
Can you confirm?

[2022-04-19 14:15] tgupta-adc opened #446 "ACL support is missing"
Redis 6.2 provides way to add other users using aclfile. Will it be possible to provide support for that?

[2022-05-31 15:23] #402 closed

[2022-05-31 15:29] root-expert commented on #446
Hello @tgupta-adc, can you provide a PR adding this functionality?